openapi: 3.0.3
servers:
  - url: https://api.exchange.bullish.com/trading-api
    description: PRODUCTION
  - url: https://registered.api.exchange.bullish.com/trading-api
    description: PRODUCTION
  - url: https://prod.access.bullish.com/trading-api
    description: PRODUCTION (Direct Connect)
  - url: https://api.bugbounty.bullish.com/trading-api
    description: SECURITY SANDBOX
  - url: https://api.simnext.bullish-test.com/trading-api
    description: API SANDBOX
  - url: https://registered.api.simnext.bullish-test.com/trading-api
    description: API SANDBOX
  - url: https://simnext.access.bullish.com/trading-api
    description: API SANDBOX (Direct Connect)
info:
  description: REST API specification for the Bullish Trading API.
  version: 1.0.0
  title: Bullish Trading API
  contact:
    name: Bullish Help Center
    email: support@bullish.com
    url: https://support.bullish.com

tags:
  - name: general
    x-displayName: General
  - name: asset-data
    x-displayName: Asset Data
    description: Non-authenticated APIs for accessing general asset data information
  - name: market-data
    x-displayName: Market Data
    description: Non-authenticated APIs for accessing general market data information
  - name: market-history-data
    x-displayName: Market History Data
  - name: index-price-data
    x-displayName: Index Price Data
  - name: derivatives-public
    x-displayName: Derivatives
  - name: auction-public
    x-displayName: Auction
  - name: session-management
    x-displayName: Session Management
  - name: trading-accounts
    x-displayName: Trading Accounts
  - name: account-assets
    x-displayName: Account Assets
    description: Authenticated APIs for reading account data
  - name: orders
    x-displayName: Orders
    description: Authenticated APIs for interacting with orders
  - name: trades
    x-displayName: Trades
    description: Authenticated APIs for reading trade data
  - name: amm-instructions
    x-displayName: AMM Instructions
    description: |+
      Authenticated APIs that allow users to Create, View and Terminate AMM instructions.

      Please refer to the [AMM instruction Overview Doc](https://github.com/bullish-exchange/api-docs/wiki/Automated-Market-Making-%28AMM%29-Instructions) 
      for more details on how AMM instructions work.
  - name: transfer
    x-displayName: Transfer
    description: Authenticated API for initiating asset transfers between trading accounts.
  - name: custody
    x-displayName: Custody
    description: |+
      Authenticated APIs for custody,  [Custody Basic Examples](https://github.com/bullish-exchange/api-examples/blob/master/bullish/rest/custody_basics.py)

      Custody APIs have a limit of 40 requests per IP, per minute. This is combined across all endpoints of type **/wallets/***
  - name: derivatives
    x-displayName: Derivatives
  - name: market-maker-protection
    x-displayName: Market Maker Protection (MMP)
  - name: history
    x-displayName: History
  - name: otc
    x-displayName: OTC
    description: The OTC Clearing Facility API (OTC API) is available to customers to book trades negotiated outside of the Bullish Exchange order book to Bullish's clearing and settlement platform. Customers may agree to an OTC transaction through bilateral negotiations or via a 3rd party RFQ platform. Once the two customers agree on the trade details, they can use the OTC API to book the trade to their Bullish account to benefit from Bullish's risk and collateral management system. For purposes of clarity, the OTC API is not for trading purposes.
  - name: idb
    x-displayName: Inter-dealer Broker (IDB)
    description: The Inter-dealer Broker (IDB) API is available to authorized inter-dealer brokers to book OTC trades on Bullish on behalf of their respective end customers.
  - name: index-data
    x-displayName: Index Data
  - name: users
    x-displayName: Users
    description: Authenticated APIs for interacting with users
  - name: command entry
    x-displayName: Command Entry
    description: Authenticated API for submitting commands into the exchange.
  - name: time
    x-displayName: Time
    description: Non-authenticated API for reading time data
  - name: account-model
    x-displayName: SpotAccount Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/SpotAccount"/>
  - name: order-model
    x-displayName: Order Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Order"/>
  - name: create-order-request-model
    x-displayName: Create Order Request Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/CreateOrderRequest"/>
  - name: update-order-quantity-request-model
    x-displayName: Update Order Quantity Request Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/UpdateOrderQuantityRequest"/>
  - name: trade-model
    x-displayName: Trade Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Trade"/>
  - name: obfuscated-trade-model
    x-displayName: Obfuscated Trade Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/ObfuscatedTrade"/>
  - name: market-model
    x-displayName: Market Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Market"/>
  - name: orderbook-model
    x-displayName: Order Book Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderBook"/>
  - name: tick-model
    x-displayName: Tick Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Tick"/>
  - name: ohlcv-candle-model
    x-displayName: OHLCV Candle Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OHLCVCandle"/>
  - name: position-model
    x-displayName: Position Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Position"/>
  - name: spot-account-id
    x-displayName: SpotAccount ID
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/SpotAccountID"/>
  - name: order-id
    x-displayName: Order ID
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderID"/>
  - name: trade-id
    x-displayName: Trade ID
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/TradeID"/>
  - name: market-id
    x-displayName: Market ID
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/MarketID"/>
  - name: timestamp
    x-displayName: Timestamp Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/TimeStamp"/>
  - name: timestamp-as-string
    x-displayName: Timestamp Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/TimeStampAsString"/>
  - name: datetime
    x-displayName: Datetime Model
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/DateTime"/>
  - name: order-time-in-force
    x-displayName: Order Time In Force
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderTimeInForce"/>
  - name: order-time-in-force-as-string
    x-displayName: Order Time In Force
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderTimeInForceAsString"/>
  - name: order-type
    x-displayName: Order Type
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderType"/>
  - name: order-type-as-string
    x-displayName: Order Type
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderTypeAsString"/>
  - name: order-status
    x-displayName: Order Status
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderStatus"/>
  - name: order-status-as-string
    x-displayName: Order Status
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderStatusAsString"/>
  - name: order-side
    x-displayName: Order Side
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderSide"/>
  - name: order-side-as-string
    x-displayName: Order Side
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderSideAsString"/>
  - name: candle-window
    x-displayName: Candle Window
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/CandleWindow"/>
  - name: portfolio-margin-simulator
    x-displayName: Portfolio Margin Simulator
x-tagGroups:
  - name: Public Endpoints
    tags:
      - general
      - asset-data
      - market-data
      - market-history-data
      - index-price-data
      - derivatives-public
      - auction-public
  - name: Private Endpoints
    tags:
      - session-management
      - trading-accounts
      - account-assets
      - orders
      - trades
      - amm-instructions
      - transfer
      - custody
      - derivatives
      - market-maker-protection
      - history
      - otc
      - idb
      - portfolio-margin-simulator

paths:
  /v1/nonce:
    get:
      tags:
        - general
      summary: Get Current Nonce Range
      description: |
        Get the current nonce range. The lower bound of nonce range is EPOCH start of day in microseconds, and upper bound of nonce range is EPOCH end of day in microseconds.

        **Ratelimited:** `False`
      operationId: getNonce
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Nonce"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security: []
  /v1/users/logout:
    get:
      x-position: 3
      tags:
        - session-management
      summary: Logout
      description: |
        Logout of the session associated with the JWT. It requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header. 

        **Ratelimited:** `True`
      operationId: logoutUser
      responses:
        "200":
          description: OK
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v2/users/login:
    post:
      x-position: 1
      tags:
        - session-management
      summary: Login
      description: |
        Login and generate a new session associated with a JWT. Once you log in from an IP, the same IP must be used for 
        the duration of the session for any subsequent requests.

        **Ratelimited:** `True`
      operationId: loginUserV2
      responses:
        "200":
          description: returns JWT and the `authorizer` for signing requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "400":
          description: Bad Request
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      requestBody:
        description: login request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      security: []
  /v1/users/hmac/login:
    get:
      x-position: 2
      tags:
        - session-management
      summary: HMAC Login
      description: |
        Login and generate a new session associated with a JWT using HMAC. Once you log in from an IP, the same IP must
        be used for the duration of the session for any subsequent requests.

        **Ratelimited:** `True`
      operationId: loginUserHmac
      parameters:
        - $ref: "#/components/parameters/BX-SIGNATURE"
        - $ref: "#/components/parameters/BX-TIMESTAMP"
        - $ref: "#/components/parameters/BX-NONCE"
        - $ref: "#/components/parameters/BX-PUBLIC-KEY"
      responses:
        "200":
          description: returns JWT and the `authorizer` for signing requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "400":
          description: Bad Request
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security: []
  /v1/accounts/trading-accounts:
    get:
      tags:
        - trading-accounts
      summary: Get All Trading Accounts Details
      description: |
        Gets details for all trading accounts accessible by the API key used in the request. It requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header. The trading account's id will be used in all other REST API

        **Ratelimited:** `True`
      operationId: getTradingAccounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 25
                items:
                  $ref: "#/components/schemas/TradingAccountResponse"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/accounts/trading-accounts/{tradingAccountId}:
    get:
      tags:
        - trading-accounts
      summary: Get Trading Account Details by ID
      description: |
        Gets details for specific trading account by `tradingAccountId` and API key used in the request. It requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header.

        **Ratelimited:** `True`
      operationId: getTradingAccountById
      parameters:
        - in: path
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradingAccountResponse"
        "400":
          description: Bad Request Parameter
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "404":
          description: Resource Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []

  /v1/accounts/asset:
    get:
      tags:
        - account-assets
      summary: Get All Account Assets
      description: |
        Gets the asset accounts, requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`
      operationId: getAssetAccounts
      parameters:
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 10
                items:
                  $ref: "#/components/schemas/AssetAccount"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/accounts/asset/{symbol}:
    get:
      parameters:
        - in: path
          name: symbol
          schema:
            $ref: "#/components/schemas/AssetSymbol"
          required: true
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: true
      tags:
        - account-assets
      summary: Get All Account Assets by Symbol
      description: |
        Gets the asset account by symbol, requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`
      operationId: getAssetAccountBySymbol
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetAccount"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "404":
          description: Resource Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []

  /v2/orders:
    get:
      x-position: 1
      tags:
        - orders
      summary: Get Orders
      description: |
        Retrieve a list of orders placed by a trading account with specified filters.
        - Only the last 24 hours of data is available for querying

        This endpoint requires [authentication](/rest/authentication#generate-a-jwt-token) and supports [pagination](/rest/general/pagination).
        To filter by `createdAtDatetime` and `createdAtTimestamp`, additional parameters are required. For detailed instructions, see the [Filtering Support](/rest/general/filtering) section.
        Additionally, this endpoint is subjected to rate limiting.
      operationId: getOrdersV2
      parameters:
        - in: query
          name: symbol
          schema:
            $ref: "#/components/schemas/MarketSymbol"
          required: false
        - in: query
          name: clientOrderId
          description: Unique numeric (i64) identifier generated on the client
            side expressed as a string value
          schema:
            $ref: "#/components/schemas/OrderHandle"
          required: false
        - in: query
          name: side
          description: order side
          schema:
            $ref: "#/components/schemas/OrderSide"
          required: false
        - in: query
          name: status
          description: order status
          schema:
            $ref: "#/components/schemas/OrderStatus"
          required: false
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: true
        - in: query
          name: isAuctionOrder
          description: Filter orders by auction type. `true` returns auction orders (GTX) only, `false` returns non-auction orders only. Omit to return all orders
          schema:
            type: boolean
          required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 10
                items:
                  $ref: "#/components/schemas/Order"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
    post:
      x-position: 4
      tags:
        - orders
      summary: Create Order
      description: |
        Creates an order, requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header.

        This endpoint uses the [signing format](/rest/authentication#signing-format) which does not require strict field ordering 
        and addition of null fields in the request body. Quantities and prices does not require strict precision. 
        E.g. for asset precision of 4 - `100`, `100.0`, `100.00`, `100.000` and `100.0000` are all accepted.

        **Ratelimited:** `True`. Higher tiers of rate limits available by providing the `BX-RATELIMIT-TOKEN` request header.
      operationId: createOrderV2
      parameters:
        - $ref: "#/components/parameters/BX-SIGNATURE"
        - $ref: "#/components/parameters/BX-TIMESTAMP"
        - $ref: "#/components/parameters/BX-NONCE"
        - $ref: "#/components/parameters/BX-NONCE-WINDOW-ENABLED"
        - $ref: "#/components/parameters/BX-REFERRER"
      responses:
        "200":
          description: Status OK. The create order command was successfully
            acknowledged. To check the current status of the order, query [Get
            Order by ID](/rest/api/get-order-by-id-v-2) using the
            `orderId` received in the response payload. Please consult the
            section [How To Ensure The Order Of *Create Order* or *Cancel Order*
            Requests](/rest/order-processing-create-cancel-request-mechanism)
            for more information.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateOrderCommandResponseV3"
        "400":
          description: |
            Bad Request

            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadOrderEntryResponse"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      requestBody:
        description: new order request body
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderCommandV3"
            examples:
              CreateLimitOrderCommand:
                $ref: "#/components/examples/CreateLimitOrderCommand"
              CreateMarketOrderCommand:
                $ref: "#/components/examples/CreateMarketOrderCommand"
              CreateStopLimitOrderCommand:
                $ref: "#/components/examples/CreateStopLimitOrderCommand"
              CreatePostOnlyOrderCommand:
                $ref: "#/components/examples/CreatePostOnlyOrderCommand"
      security:
        - jwtTokenAuth: []
  /v2/orders/{orderId}:
    parameters:
      - in: path
        name: orderId
        schema:
          type: number
        required: true
        description: order ID
    get:
      x-position: 2
      tags:
        - orders
      summary: Get Order by ID
      description: |
        Retrieve a specific order using its unique identifier.

        This endpoint requires [authentication](/rest/authentication#generate-a-jwt-token) and is subjected to rate limiting.
      operationId: getOrderByIdV2
      parameters:
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "404":
          description: Order not found (order ID is invalid)
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v2/orders/client-order-id/{clientOrderId}:
    parameters:
      - in: path
        name: clientOrderId
        schema:
          type: number
        required: true
        description: unique numeric (i64) identifier generated on the client side
    get:
      x-position: 3
      tags:
        - orders
      summary: Get Order by clientOrder ID
      description: |
        Retrieve a specific order using its unique identifier generated on the client side.

        This endpoint requires [authentication](/rest/authentication#generate-a-jwt-token) and is subjected to rate limiting.
      operationId: trade-get-order-by-client-order-id-v2
      parameters:
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "401":
          description: Not Authenticated
        "404":
          description: Order not found (clientOrder ID is invalid)
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v2/history/orders:
    get:
      tags:
        - history
      summary: Get Historical Orders
      description: |
        Retrieve a list of orders placed by a trading account with specified filters.
        - On a single query request you can retrieve data over a 7 day window, with the data available for the last 90 days

        This endpoint requires [authentication](/rest/authentication#generate-a-jwt-token) and supports [pagination](/rest/general/pagination).
        To filter by `createdAtDatetime` and `createdAtTimestamp`, additional parameters are required. For detailed instructions, see the [Filtering Support](/rest/general/filtering) section.
        Additionally, this endpoint is subjected to rate limiting.
      operationId: getOrdersHistoryV2
      parameters:
        - in: query
          name: symbol
          schema:
            $ref: "#/components/schemas/MarketSymbol"
          required: false
        - in: query
          name: orderId
          schema:
            $ref: "#/components/schemas/OrderID"
          required: false
        - in: query
          name: clientOrderId
          description: Unique numeric (i64) identifier generated on the client
            side expressed as a string value
          schema:
            $ref: "#/components/schemas/OrderHandle"
          required: false
        - in: query
          name: side
          description: order side
          schema:
            $ref: "#/components/schemas/OrderSide"
          required: false
        - in: query
          name: status
          description: order status
          schema:
            $ref: "#/components/schemas/OrderStatus"
          required: false
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: true
        - in: query
          name: createdAtDatetime[gte]
          description: start timestamp of period, ISO 8601 with millisecond as
            string
          schema:
            $ref: "#/components/schemas/DateTime"
          required: false
        - in: query
          name: createdAtDatetime[lte]
          description: end timestamp of period, ISO 8601 with millisecond as
            string
          schema:
            $ref: "#/components/schemas/DateTime"
          required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 10
                items:
                  $ref: "#/components/schemas/Order"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v2/amm-instructions:
    get:
      x-position: 1
      tags:
        - amm-instructions
      summary: Get AMM Instructions
      description: |
        Gets a list of AMM instructions based on applied filters.
        - requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header
        - [supports pagination](/rest/general/pagination)

        **Ratelimited:** `True`
      operationId: getAmmInstructions
      parameters:
        - in: query
          name: symbol
          schema:
            $ref: "#/components/schemas/MarketSymbol"
          required: false
        - in: query
          name: status
          description: order status
          schema:
            $ref: "#/components/schemas/AMMInstructionStatus"
          required: false
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 10
                items:
                  $ref: "#/components/schemas/AMMInstruction"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
    post:
      x-position: 3
      tags:
        - amm-instructions
      summary: Create AMM Instruction
      description: |
        Creates an AMM instruction, requires [bearer token](/rest/authentication#add-authenticated-request-header) 
        in authorization header.

        This endpoint uses the [signing format](/rest/authentication#signing-format) which does not require strict field ordering
        in the request body. Quantities and prices does not require strict precision. 
        E.g. for asset precision of 4 - `100`, `100.0`, `100.00`, `100.000` and `100.0000` are all accepted.

        **Ratelimited:** `True`
      operationId: createAmmInstruction
      parameters:
        - $ref: "#/components/parameters/BX-SIGNATURE"
        - $ref: "#/components/parameters/BX-TIMESTAMP"
        - $ref: "#/components/parameters/BX-NONCE"
      responses:
        "200":
          description: Status OK. This means a create AMM instruction command
            was successfully acknowledged. It does not necessarily mean the
            instruction was created. To check the current status, query [Get AMM
            Instruction by
            ID](/rest/api/get-amm-instruction-by-id-v-2) using the
            `instructionId` received in the response payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAMMInstructionCommandResponseV3"
              examples:
                CreateAMMInstructionCommandResponse:
                  $ref: "#/components/examples/CreateAMMInstructionCommandResponse"
        "400":
          description: |
            Bad Request

            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadOrderEntryResponse"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      requestBody:
        description: new AMM instruction
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAMMInstructionCommandV3"
            examples:
              CreateAMMInstructionCommand:
                $ref: "#/components/examples/CreateAMMInstructionCommand"
      security:
        - jwtTokenAuth: []
  /v2/amm-instructions/{instructionId}:
    parameters:
      - in: path
        name: instructionId
        schema:
          type: number
        required: true
        description: unique AMM instruction ID
      - in: query
        name: tradingAccountId
        description: Id of the trading account
        schema:
          $ref: "#/components/schemas/TradingAccountId"
        required: true
    get:
      x-position: 2
      tags:
        - amm-instructions
      summary: Get AMM Instruction by ID
      description: |
        Gets a specific AMM instruction based on the `instructionId`, 
        requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`
      operationId: getAmmInstructionByIdV2
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AMMInstruction"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []

  /v2/command:
    post:
      tags:
        - command entry
      summary: Create Command
      description: |
        Submits a command to the trading engine. A successful response indicates that the command entry was acknowledged 
        but does not indicate that the command was executed. 
        This endpoint uses the [signing format](/rest/authentication#signing-format) which does not require strict field 
        ordering and addition of null fields in the request body. Quantities and prices does not require strict precision. 
        E.g. for asset precision of 4 - `100`, `100.0`, `100.00`, `100.000` and `100.0000` are all accepted.

        Command schemas and examples are provided below. Supported commands:
        - V3CancelOrder
        - V1CancelAllOrders
        - V1CancelAllOrdersByMarket
        - V1DelayedCancelAllOrders
        - V1UnsetDelayedCancelAllOrders
        - V1AmendOrder
        - V3TerminateAMMInstruction
        - V2TransferAsset

        Requires
        - [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`. Higher tiers of rate limits available by providing the `BX-RATELIMIT-TOKEN` request header.
      operationId: submitCommand
      parameters:
        - $ref: "#/components/parameters/BX-SIGNATURE"
        - $ref: "#/components/parameters/BX-TIMESTAMP"
        - $ref: "#/components/parameters/BX-NONCE"
        - $ref: "#/components/parameters/BX-NONCE-WINDOW-ENABLED"
      responses:
        "200":
          description: Status OK. This means a command was successfully
            acknowledged.
          content:
            application/json:
              schema:
                discriminator:
                  propertyName: commandType
                  mapping:
                    V3CancelOrder: "#/components/schemas/CancelOrderCommandResponseV3"
                    V1CancelAllOrders: "#/components/schemas/CancelAllOrdersCommandResponse"
                    V1CancelAllOrdersByMarket: "#/components/schemas/CancelAllOrdersByMarketResponse"
                    V1DelayedCancelAllOrders: "#/components/schemas/DelayedCancelAllOrdersResponse"
                    V1UnsetDelayedCancelAllOrders: "#/components/schemas/UnsetDelayedCancelAllOrdersResponse"
                    V3TerminateAMMInstruction: "#/components/schemas/TerminateAMMInstructionCommandResponseV3"
                    V2TransferAsset: "#/components/schemas/TradingAccountTransferResponse"
                    V1AmendOrder: "#/components/schemas/AmendOrderCommandResponseV1"
                oneOf:
                  - $ref: "#/components/schemas/CancelOrderCommandResponseV3"
                  - $ref: "#/components/schemas/CancelAllOrdersCommandResponse"
                  - $ref: "#/components/schemas/CancelAllOrdersByMarketResponse"
                  - $ref: "#/components/schemas/DelayedCancelAllOrdersResponse"
                  - $ref: "#/components/schemas/UnsetDelayedCancelAllOrdersResponse"
                  - $ref: "#/components/schemas/TerminateAMMInstructionCommandResponseV3"
                  - $ref: "#/components/schemas/TradingAccountTransferResponse"
                  - $ref: "#/components/schemas/AmendOrderCommandResponseV1"
              examples:
                CancelOrderCommand:
                  $ref: "#/components/examples/CancelOrderCommandResponse"
                CancelAllOrdersCommand:
                  $ref: "#/components/examples/CancelAllOrdersCommandResponse"
                CancelAllOrdersByMarketCommand:
                  $ref: "#/components/examples/CancelAllOrdersByMarketCommandResponse"
                DelayedCancelAllOrdersCommand:
                  $ref: "#/components/examples/DelayedCancelAllOrdersCommandResponse"
                UnsetDelayedCancelAllOrdersCommand:
                  $ref: "#/components/examples/UnsetDelayedCancelAllOrdersCommandResponse"
                TerminateAMMInstructionCommand:
                  $ref: "#/components/examples/TerminateAMMInstructionCommandResponse"
                TransferAssetCommand:
                  $ref: "#/components/examples/TransferAssetCommandResponse"
                AmendOrderCommand:
                  $ref: "#/components/examples/AmendOrderCommandResponse"
        "400":
          description: |
            Bad Request

            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadOrderEntryResponse"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              discriminator:
                propertyName: commandType
                mapping:
                  V3CancelOrder: "#/components/schemas/CancelOrderCommandV3"
                  V1CancelAllOrders: "#/components/schemas/CancelAllOrdersCommand"
                  V1CancelAllOrdersByMarket: "#/components/schemas/CancelAllOrdersByMarketCommand"
                  V1DelayedCancelAllOrders: "#/components/schemas/DelayedCancelAllOrdersCommand"
                  V1UnsetDelayedCancelAllOrders: "#/components/schemas/UnsetDelayedCancelAllOrdersCommand"
                  V3TerminateAMMInstruction: "#/components/schemas/TerminateAMMInstructionCommandV3"
                  V2TransferAsset: "#/components/schemas/TransferAssetCommandV2"
                  V1AmendOrder: "#/components/schemas/AmendOrderCommandV1"
              oneOf:
                - $ref: "#/components/schemas/CancelOrderCommandV3"
                - $ref: "#/components/schemas/CancelAllOrdersCommand"
                - $ref: "#/components/schemas/CancelAllOrdersByMarketCommand"
                - $ref: "#/components/schemas/DelayedCancelAllOrdersCommand"
                - $ref: "#/components/schemas/UnsetDelayedCancelAllOrdersCommand"
                - $ref: "#/components/schemas/TerminateAMMInstructionCommandV3"
                - $ref: "#/components/schemas/TransferAssetCommandV2"
                - $ref: "#/components/schemas/AmendOrderCommandV1"
            examples:
              CancelOrderCommand:
                $ref: "#/components/examples/CancelOrderCommand"
              CancelAllOrdersCommand:
                $ref: "#/components/examples/CancelAllOrdersCommand"
              CancelAllOrdersByMarketCommand:
                $ref: "#/components/examples/CancelAllOrdersByMarketCommand"
              DelayedCancelAllOrdersCommand:
                $ref: "#/components/examples/DelayedCancelAllOrdersCommand"
              UnsetDelayedCancelAllOrdersCommand:
                $ref: "#/components/examples/UnsetDelayedCancelAllOrdersCommand"
              AmendOrderCommand:
                $ref: "#/components/examples/AmendOrderCommand"
              TerminateAMMInstructionCommand:
                $ref: "#/components/examples/TerminateAMMInstructionCommand"
              TransferAssetCommand:
                $ref: "#/components/examples/TransferAssetCommand"
      security:
        - jwtTokenAuth: []

  /v2/command#transferAsset:
    post:
      tags:
        - transfer
      summary: Transfer Asset Command
      description: |
        Submits a command to the trading engine. A successful response indicates that the command entry was acknowledged 
        but does not indicate that the command was executed. 
        This endpoint uses the [signing format](/rest/authentication#signing-format) which does not require strict field 
        ordering and addition of null fields in the request body. Quantities and prices does not require strict precision. 
        E.g. for asset precision of 4 - `100`, `100.0`, `100.00`, `100.000` and `100.0000` are all accepted.

        Requires
        - [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`. Higher tiers of rate limits available by providing the `BX-RATELIMIT-TOKEN` request header.
      operationId: submitTransferAssetCommand
      parameters:
        - $ref: "#/components/parameters/BX-SIGNATURE"
        - $ref: "#/components/parameters/BX-TIMESTAMP"
        - $ref: "#/components/parameters/BX-NONCE"
        - $ref: "#/components/parameters/BX-NONCE-WINDOW-ENABLED"
      responses:
        "200":
          description: Status OK. This means a command was successfully
            acknowledged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradingAccountTransferResponse"
              examples:
                TransferAssetResponse:
                  $ref: "#/components/examples/TransferAssetCommandResponse"
        "400":
          description: |
            Bad Request

            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadOrderEntryResponse"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferAssetCommandV2"
            examples:
              TransferAssetCommand:
                $ref: "#/components/examples/TransferAssetCommand"
      security:
        - jwtTokenAuth: []

  /v2/command#terminateAMMInstruction:
    post:
      x-position: 4
      tags:
        - amm-instructions
      summary: Terminate AMM Instruction Command
      description: |
        Submits a command to the trading engine. A successful response indicates that the command entry was acknowledged 
        but does not indicate that the command was executed. 
        This endpoint uses the [signing format](/rest/authentication#signing-format) which does not require strict field 
        ordering and addition of null fields in the request body. Quantities and prices does not require strict precision. 
        E.g. for asset precision of 4 - `100`, `100.0`, `100.00`, `100.000` and `100.0000` are all accepted.

        Requires
        - [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`. Higher tiers of rate limits available by providing the `BX-RATELIMIT-TOKEN` request header.
      operationId: submitTerminateAMMInstructionCommand
      parameters:
        - $ref: "#/components/parameters/BX-SIGNATURE"
        - $ref: "#/components/parameters/BX-TIMESTAMP"
        - $ref: "#/components/parameters/BX-NONCE"
        - $ref: "#/components/parameters/BX-NONCE-WINDOW-ENABLED"
      responses:
        "200":
          description: Status OK. This means a command was successfully
            acknowledged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TerminateAMMInstructionCommandResponseV3"
              examples:
                TerminateAMMInstructionResponse:
                  $ref: "#/components/examples/TerminateAMMInstructionCommandResponse"
        "400":
          description: |
            Bad Request

            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadOrderEntryResponse"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TerminateAMMInstructionCommandV3"
            examples:
              TerminateAMMInstructionCommand:
                $ref: "#/components/examples/TerminateAMMInstructionCommand"
      security:
        - jwtTokenAuth: []

  /v2/command#cancellations:
    post:
      x-position: 5
      tags:
        - orders
      summary: Cancel Order Commands
      description: |
        Submits a command to the trading engine. A successful response indicates that the command entry was acknowledged 
        but does not indicate that the command was executed. 
        This endpoint uses the [signing format](/rest/authentication#signing-format) which does not require strict field 
        ordering and addition of null fields in the request body. Quantities and prices does not require strict precision. 
        E.g. for asset precision of 4 - `100`, `100.0`, `100.00`, `100.000` and `100.0000` are all accepted.

        Command schemas and examples are provided below. Supported commands:
        - V3CancelOrder
        - V1CancelAllOrders
        - V1CancelAllOrdersByMarket
        - V1DelayedCancelAllOrders
        - V1UnsetDelayedCancelAllOrders

        Requires
        - [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`. Higher tiers of rate limits available by providing the `BX-RATELIMIT-TOKEN` request header.
      operationId: submitCancellationCommands
      parameters:
        - $ref: "#/components/parameters/BX-SIGNATURE"
        - $ref: "#/components/parameters/BX-TIMESTAMP"
        - $ref: "#/components/parameters/BX-NONCE"
        - $ref: "#/components/parameters/BX-NONCE-WINDOW-ENABLED"
      responses:
        "200":
          description: Status OK. This means a command was successfully acknowledged.
          content:
            application/json:
              schema:
                discriminator:
                  propertyName: commandType
                  mapping:
                    V3CancelOrder: "#/components/schemas/CancelOrderCommandResponseV3"
                    V1CancelAllOrders: "#/components/schemas/CancelAllOrdersCommandResponse"
                    V1CancelAllOrdersByMarket: "#/components/schemas/CancelAllOrdersByMarketResponse"
                    V1DelayedCancelAllOrders: "#/components/schemas/DelayedCancelAllOrdersResponse"
                    V1UnsetDelayedCancelAllOrders: "#/components/schemas/UnsetDelayedCancelAllOrdersResponse"
                oneOf:
                  - $ref: "#/components/schemas/CancelOrderCommandResponseV3"
                  - $ref: "#/components/schemas/CancelAllOrdersCommandResponse"
                  - $ref: "#/components/schemas/CancelAllOrdersByMarketResponse"
                  - $ref: "#/components/schemas/DelayedCancelAllOrdersResponse"
                  - $ref: "#/components/schemas/UnsetDelayedCancelAllOrdersResponse"
              examples:
                CancelOrderCommand:
                  $ref: "#/components/examples/CancelOrderCommandResponse"
                CancelAllOrdersCommand:
                  $ref: "#/components/examples/CancelAllOrdersCommandResponse"
                CancelAllOrdersByMarketCommand:
                  $ref: "#/components/examples/CancelAllOrdersByMarketCommandResponse"
                DelayedCancelAllOrdersCommand:
                  $ref: "#/components/examples/DelayedCancelAllOrdersCommandResponse"
                UnsetDelayedCancelAllOrdersCommand:
                  $ref: "#/components/examples/UnsetDelayedCancelAllOrdersCommandResponse"

        "400":
          description: |
            Bad Request

            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadOrderEntryResponse"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              discriminator:
                propertyName: commandType
                mapping:
                  V3CancelOrder: "#/components/schemas/CancelOrderCommandV3"
                  V1CancelAllOrders: "#/components/schemas/CancelAllOrdersCommand"
                  V1CancelAllOrdersByMarket: "#/components/schemas/CancelAllOrdersByMarketCommand"
                  V1DelayedCancelAllOrders: "#/components/schemas/DelayedCancelAllOrdersCommand"
                  V1UnsetDelayedCancelAllOrders: "#/components/schemas/UnsetDelayedCancelAllOrdersCommand"
              oneOf:
                - $ref: "#/components/schemas/CancelOrderCommandV3"
                - $ref: "#/components/schemas/CancelAllOrdersCommand"
                - $ref: "#/components/schemas/CancelAllOrdersByMarketCommand"
                - $ref: "#/components/schemas/DelayedCancelAllOrdersCommand"
                - $ref: "#/components/schemas/UnsetDelayedCancelAllOrdersCommand"
            examples:
              CancelOrderCommand:
                $ref: "#/components/examples/CancelOrderCommand"
              CancelAllOrdersCommand:
                $ref: "#/components/examples/CancelAllOrdersCommand"
              CancelAllOrdersByMarketCommand:
                $ref: "#/components/examples/CancelAllOrdersByMarketCommand"
              DelayedCancelAllOrdersCommand:
                $ref: "#/components/examples/DelayedCancelAllOrdersCommand"
              UnsetDelayedCancelAllOrdersCommand:
                $ref: "#/components/examples/UnsetDelayedCancelAllOrdersCommand"
      security:
        - jwtTokenAuth: []

  /v2/command#amend:
    post:
      x-position: 6
      tags:
        - orders
      summary: Amend Order Command
      description: |
        Ability to amend the `price`, `quantity` and `type` (i.e. change from Taker Only to Maker Only and vice versa) on GTC Limit orders. It can be applied only to open orders (`quantityFilled=0` and `status=OPEN`). For Auction Limit Orders (LOC), only `price` can be amended. Auction Market Orders (MOC) do not support amendment.

        Submits a command to the trading engine to amend an order. A successful response indicates that the command entry was acknowledged 
        but does not indicate that the command was executed. 

        This endpoint uses the [signing format](/rest/authentication#signing-format) which does not require strict field 
        ordering and addition of null fields in the request body. Quantities and prices does not require strict precision. 
        E.g. for asset precision of 4 - `100`, `100.0`, `100.00`, `100.000` and `100.0000` are all accepted.

        Requires
        - [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`. Higher tiers of rate limits available by providing the `BX-RATELIMIT-TOKEN` request header.
      operationId: submitAmendmentCommand
      parameters:
        - $ref: "#/components/parameters/BX-SIGNATURE"
        - $ref: "#/components/parameters/BX-TIMESTAMP"
        - $ref: "#/components/parameters/BX-NONCE"
        - $ref: "#/components/parameters/BX-NONCE-WINDOW-ENABLED"
      responses:
        "200":
          description: Status OK. This means a command was successfully
            acknowledged.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AmendOrderCommandResponseV1"
              examples:
                AmendOrderResponse:
                  $ref: "#/components/examples/AmendOrderCommandResponse"
        "400":
          description: |
            Bad Request

            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadOrderEntryResponse"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/AmendOrderCommandV1"
            examples:
              AmendOrderCommand:
                $ref: "#/components/examples/AmendOrderCommand"
      security:
        - jwtTokenAuth: []
  /v2/mmp-configuration:
    post:
      x-position: 2
      tags:
        - market-maker-protection
      summary: Setup Market Maker Protection (MMP)
      description: |
        MMP configurations are setup per underlying asset symbol for a specific trading Account. While setting up MMP configurations you can specify `windowTimeInSeconds`, `frozenTimeInSeconds`, `quantityLimit` and `deltaLimit` and use it as best suited.
        Please reach out to your relationship manager to understand how to enable MMP for your trading accounts.

        - To get updates on the status of your set / reset MMP configs request for an underlying asset symbol over WS, please subscribe to `mmpRequest` TOPIC within the [Private Data WebSocket](/websocket/private/private-data).
        - To get updates about MMP triggered event over WS, please subscribe to the `mmpTriggered` TOPIC within the [Private Data WebSocket](/websocket/private/private-data).

        To update/amend your MMP configs, please use the ResetMMPCommandV1 to reset the MMP configurations, followed by setting up a new MMP config via setMMPCommandV1 per underlying asset symbol.

        Notes: 
        - MMP is only applicable for Options [Orders created](/rest/api/create-order-v-2) with the `isMMP` flag set to `true`.
        - ResetMMPCommandV1 will trigger only when there are no `isMMP=true` open orders on the account
      operationId: setMmpConfiguration
      parameters:
        - $ref: "#/components/parameters/BX-SIGNATURE"
        - $ref: "#/components/parameters/BX-TIMESTAMP"
        - $ref: "#/components/parameters/BX-NONCE"
      responses:
        "200":
          description: Status OK. This means a command was successfully acknowledged.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/SetMMPCommandResponse"
                  - $ref: "#/components/schemas/ResetMMPCommandResponse"
              examples:
                SetMMPCommandResponse:
                  $ref: "#/components/examples/SetMMPCommandResponse"
                ResetMMPCommandResponse:
                  $ref: "#/components/examples/ResetMMPCommandResponse"
        "400":
          description: Bad Request
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/SetMMPCommandV1"
                - $ref: "#/components/schemas/ResetMMPCommandV1"
            examples:
              SetMMPCommandV1:
                $ref: "#/components/examples/SetMMPCommandV1"
              ResetMMPCommandV1:
                $ref: "#/components/examples/ResetMMPCommandV1"
      security:
        - jwtTokenAuth: []
    get:
      x-position: 1
      tags:
        - market-maker-protection
      summary: Get Market Marker Protection (MMP) by Trading Account ID
      description: |
        Get market maker protection configurations under a trading account id

        This endpoint requires [authentication](/rest/authentication#generate-a-jwt-token). To filter by `symbol`, additional parameters are required. For detailed instructions, see the [Filtering Support](/rest/general/filtering) section.
      operationId: getMmpConfiguration
      parameters:
        - in: query
          name: symbol
          description: The underlying asset id you filter the configurations against. If symbol is provided, this API will only return the market maker protection configuration for this symbol for this trading account.
          schema:
            $ref: "#/components/schemas/UnderlyingAssetSymbol"
          required: false
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: true
      responses:
        "200":
          description: Status OK. This means a command was successfully acknowledged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMmpConfigurationResponse"
        "400":
          description: Bad Request
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
      security:
        - jwtTokenAuth: []

  /v1/trades:
    get:
      tags:
        - trades
      summary: Get Trades
      description: |
        Get a list of trades based on specified filters.
        - requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header
        - Only the last 24 hours of data is available for querying
        - [supports pagination](/rest/general/pagination)
        - filtering on `createdAtDatetime`, `createdAtTimestamp` requires additional keywords, [see filtering support](/rest/general/filtering)

        **Ratelimited:** `True`
      operationId: getTrades
      parameters:
        - in: query
          name: symbol
          schema:
            $ref: "#/components/schemas/MarketSymbol"
          required: false
        - in: query
          name: orderId
          description: unique order ID
          schema:
            $ref: "#/components/schemas/OrderID"
          required: false
        - in: query
          name: clientOrderId
          description: unique numeric (i64) identifier generated on the client side, only orderId or clientOrderId can be used
          schema:
            $ref: "#/components/schemas/OrderHandle"
          required: false
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: true
        - in: query
          name: otcTradeId
          description: unique Bullish otc trade id
          schema:
            $ref: "#/components/schemas/OtcTradeId"
          required: false
        - in: query
          name: clientOtcTradeId
          description: unique client otc trade id
          schema:
            $ref: "#/components/schemas/ClientOtcTradeId"
          required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 10
                items:
                  $ref: "#/components/schemas/Trade"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/trades/{tradeId}:
    get:
      parameters:
        - in: path
          name: tradeId
          schema:
            type: number
          required: true
          description: trade ID
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: true
      tags:
        - trades
      summary: Get Trade by ID
      description: |
        Gets a trade by ID, requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`
      operationId: getTradeById
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trade"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "404":
          description: Resource Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/trades/client-order-id/{clientOrderId}:
    get:
      parameters:
        - in: path
          name: clientOrderId
          schema:
            $ref: "#/components/schemas/OrderHandle"
          required: true
          description: unique numeric (i64) identifier generated on the client side
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: true
      tags:
        - trades
      summary: Get Trades by clientOrder ID
      description: |
        Gets trade(s) associated with the clientOrderID, requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header

        **Ratelimited:** `True`
      operationId: trade-get-trade-by-client-order-id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trade"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "404":
          description: Resource Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/history/trades:
    get:
      tags:
        - history
      summary: Get Historical Trades
      description: |
        Get a list of trades based on specified filters.
        - requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header
        - On a single query request you can retrieve data over a 7 day window, with the data available for the last 90 days
        - [supports pagination](/rest/general/pagination)
        - filtering on `createdAtDatetime`, `createdAtTimestamp` requires additional keywords, [see filtering support](/rest/general/filtering)

        **Ratelimited:** `True`
      operationId: getTradesHistory
      parameters:
        - in: query
          name: symbol
          schema:
            $ref: "#/components/schemas/MarketSymbol"
          required: false
        - in: query
          name: orderId
          description: unique order ID
          schema:
            $ref: "#/components/schemas/OrderID"
          required: false
        - in: query
          name: tradeId
          description: unique trade ID
          schema:
            $ref: "#/components/schemas/TradeID"
          required: false
        - in: query
          name: clientOrderId
          description: unique numeric (i64) identifier generated on the client side, only orderId or clientOrderId can be used
          schema:
            $ref: "#/components/schemas/OrderHandle"
          required: false
        - in: query
          name: tradingAccountId
          description: Id of the trading account
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: true
        - in: query
          name: createdAtDatetime[gte]
          description: start timestamp of period, ISO 8601 with millisecond as string
          schema:
            $ref: "#/components/schemas/DateTime"
          required: false
        - in: query
          name: createdAtDatetime[lte]
          description: end timestamp of period, ISO 8601 with millisecond as string
          schema:
            $ref: "#/components/schemas/DateTime"
          required: false
        - in: query
          name: otcTradeId
          description: unique Bullish otc trade id
          schema:
            $ref: "#/components/schemas/OtcTradeId"
          required: false
        - in: query
          name: clientOtcTradeId
          description: unique client otc trade id
          schema:
            $ref: "#/components/schemas/ClientOtcTradeId"
          required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 10
                items:
                  $ref: "#/components/schemas/Trade"
        "401":
          description: Not Authenticated
        "403":
          description: Access Forbidden
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/wallets/transactions:
    get:
      tags:
        - custody
      summary: Get Custody Transaction History
      description: |
        Get custody transaction history, requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header

        Please note that Custody endpoints utilize a non-multiplied asset format for long decimal assets like SHIB and PEPE, ensuring consistency with real-world asset representation. This differs from Trading endpoints, which use a multiplied asset format, such as SHIB1M and PEPE1M. For more information, please see [help center](https://bullishexchange.atlassian.net/wiki/spaces/BHC/pages/20807684/Understanding+Multiplied+Assets+PEPE1M+and+SHIB1M)

        - [supports pagination](/rest/general/pagination)

        **Ratelimited:** `True` - see [custody limits](/rest/general/rate-limits)
      operationId: getCustodyTransactionHistory
      parameters:
        - in: query
          name: createdAtDatetime[gte]
          description: start timestamp of period, ISO 8601 with millisecond as string
          schema:
            $ref: "#/components/schemas/DateTime"
          required: false
        - in: query
          name: createdAtDatetime[lte]
          description: end timestamp of period, ISO 8601 with millisecond as string
          schema:
            $ref: "#/components/schemas/DateTime"
          required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CustodyHistory"
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/wallets/limits/{symbol}:
    get:
      tags:
        - custody
      summary: Get Withdrawal Limits for Symbol
      description: |
        Get withdrawal limits for symbol, requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header

        Please note that Custody endpoints utilize a non-multiplied asset format for long decimal assets like SHIB and PEPE, ensuring consistency with real-world asset representation. This differs from Trading endpoints, which use a multiplied asset format, such as SHIB1M and PEPE1M. For more information, please see [help center](https://bullishexchange.atlassian.net/wiki/spaces/BHC/pages/20807684/Understanding+Multiplied+Assets+PEPE1M+and+SHIB1M)

        **Ratelimited:** `True` - see [custody limits](/rest/general/rate-limits)
      operationId: getCustodyWithdrawalLimits
      parameters:
        - in: path
          name: symbol
          schema:
            $ref: "#/components/schemas/CustodySymbol"
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustodyLimits"
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/wallets/deposit-instructions/crypto/{symbol}:
    get:
      tags:
        - custody
      summary: Get Deposit Instructions for Crypto
      description: |
        Get deposit instructions, requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header

        Please note that Custody endpoints utilize a non-multiplied asset format for long decimal assets like SHIB and PEPE, ensuring consistency with real-world asset representation. This differs from Trading endpoints, which use a multiplied asset format, such as SHIB1M and PEPE1M. For more information, please see [help center](https://bullishexchange.atlassian.net/wiki/spaces/BHC/pages/20807684/Understanding+Multiplied+Assets+PEPE1M+and+SHIB1M)

        **Ratelimited:** `True` - see [custody limits](/rest/general/rate-limits)
      operationId: getCryptoDepositInstructions
      parameters:
        - in: path
          name: symbol
          schema:
            $ref: "#/components/schemas/CustodySymbol"
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CustodyCryptoDepositInstructions"
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/wallets/withdrawal-instructions/crypto/{symbol}:
    get:
      tags:
        - custody
      summary: Get Withdrawal Instructions for Crypto
      description: |
        Get crypto withdrawal instructions, requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header. Please note that all withdrawal addresses must be whitelisted via the Bullish website before any digital asset withdrawals can be processed.

        Please note that Custody endpoints utilize a non-multiplied asset format for long decimal assets like SHIB and PEPE, ensuring consistency with real-world asset representation. This differs from Trading endpoints, which use a multiplied asset format, such as SHIB1M and PEPE1M. For more information, please see [help center](https://bullishexchange.atlassian.net/wiki/spaces/BHC/pages/20807684/Understanding+Multiplied+Assets+PEPE1M+and+SHIB1M)

        **Ratelimited:** `True` - see [custody limits](/rest/general/rate-limits)
      operationId: getCryptoWithdrawalInstructions
      parameters:
        - in: path
          name: symbol
          schema:
            $ref: "#/components/schemas/CustodySymbol"
          required: true
        - in: query
          name: signed
          schema:
            $ref: "#/components/schemas/CustodyDestinationSigned"
          required: false
        - in: query
          name: locked
          schema:
            $ref: "#/components/schemas/CustodyDestinationLocked"
          required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CustodyCryptoWithdrawalInstructions"
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/wallets/deposit-instructions/fiat/{symbol}:
    get:
      tags:
        - custody
      summary: Get Deposit Instructions for Fiat
      description: |
        Get deposit instructions, requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header

        **Ratelimited:** `True` - see [custody limits](/rest/general/rate-limits)
      operationId: getFiatDepositInstructions
      parameters:
        - in: path
          name: symbol
          example: USD
          schema:
            $ref: "#/components/schemas/InstrumentId"
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CustodyFiatDepositInstructions"
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/wallets/withdrawal-instructions/fiat/{symbol}:
    get:
      tags:
        - custody
      summary: Get Withdrawal Instructions for Fiat
      description: |
        Get withdrawal instructions added by the user, requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header. Please note that before withdrawal destinations can be used for withdrawing to, they must be whitelisted on the Bullish website.

        **Ratelimited:** `True` - see [custody limits](/rest/general/rate-limits)
      operationId: getFiatWithdrawalInstructions
      parameters:
        - in: path
          name: symbol
          schema:
            $ref: "#/components/schemas/CustodyFiatSymbol"
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CustodyFiatWithdrawalInstructions"
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/wallets/self-hosted/initiate:
    post:
      tags:
        - custody
      summary: Initiate Self-Hosted Wallet Verification
      description: |
        This endpoint is used for initiating wallet verification requests.

        Note: users will have 24 hours to complete the wallet verification by sending the exact total amount to the Bullish deposit address provided.

        **Ratelimited:** `True` - see [custody limits](/rest/general/rate-limits)
      operationId: custody-initiate-self-hosted-verification
      requestBody:
        description: Self hosted wallet verification request
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustodySelfHostedInitiateRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustodySelfHostedInitiateResponse"
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/wallets/self-hosted/verification-attempts:
    get:
      tags:
        - custody
      summary: Get a List of Self-Hosted Wallet Verification Attempts
      description: |
        This endpoint provides a history of all Wallet Verification attempts, including those that are completed, pending verification and expired.

        **Ratelimited:** `True` - see [custody limits](/rest/general/rate-limits)
      operationId: custody-get-self-hosted-verifications
      parameters:
        - in: query
          name: address
          schema:
            $ref: "#/components/schemas/CustodyNetworkAddress"
          required: false
        - in: query
          name: destinationId
          schema:
            $ref: "#/components/schemas/CustodyDestinationID"
          required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CustodyGetSelfHostedVerificationResponse"
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/wallets/withdrawal-instructions/{destinationId}:
    delete:
      tags:
        - custody
      summary: Delete Existing Wallet Address
      description: |
        This endpoint is used for deleting any existing withdrawal addresses.

        **Ratelimited:** `True` - see [custody limits](/rest/general/rate-limits)
      operationId: custody-delete-withdrawal-instructions
      parameters:
        - in: path
          name: destinationId
          schema:
            $ref: "#/components/schemas/CustodyDestinationID"
          required: true
      responses:
        "200":
          description: OK
        "404":
          description: A wallet destination is not found for the specified `destinationId`.
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/wallets/withdrawal:
    post:
      tags:
        - custody
      summary: Create Withdrawal
      description: |
        Trigger a withdrawal, requires [bearer token](/rest/authentication#add-authenticated-request-header) in authorization header

        The `BX-SIGNATURE` header should be created by signing the request with an ECDSA API Key as follows:

        1. Construct a string that concatenates the following fields:
            - `timestamp` - current epoch milliseconds e.g. 1697008474031
            - `nonce` - a UUID identifier to protect against replay attacks e.g. 255241a1-2cde-4954-87b1-13beef547960
            - `request method` - e.g. POST
            - `request path` - e.g. /trading-api/v1/wallets/withdrawal
            - `request body JSON string`, removing any spaces and newline characters
        2. Hash the string using a SHA-256 hash function and sign the resulting hexdigest with your `<PRIVATE_KEY>`.
        3. DER encode the signature, and base64 encode the DER encoded signature.

        > **Bullish requires you to whitelist a withdrawal destination address before submitting a withdrawal request. You may view, approve, and manage your list of destination addresses in Account Settings on the Bullish website. If you attempt a withdrawal without first whitelisting an address in Account Settings, then the withdrawal attempt will fail.**

        For a full example of using the withdrawal endpoint please see the [Custody Withdrawal Example](https://github.com/bullish-exchange/api-examples/blob/master/custody/custody_withdrawal_ecdsa.py)

        Please note that Custody endpoints utilize a non-multiplied asset format for long decimal assets like SHIB and PEPE, ensuring consistency with real-world asset representation. This differs from Trading endpoints, which use a multiplied asset format, such as SHIB1M and PEPE1M. For more information, please see [help center](https://bullishexchange.atlassian.net/wiki/spaces/BHC/pages/20807684/Understanding+Multiplied+Assets+PEPE1M+and+SHIB1M)

        The currently supported precisions for withdrawal quantities are as follows. Please note that fees are always specified in units of the symbol itself, not in smaller denominations (e.g. BTC not Satoshi, ETH not Wei) :

        | Symbol | Precision | Remarks |
        | ---------- |---------------- | --- |
        | USD | 2dp | |
        | BTC | 8dp | |
        | DOGE | 8dp | |
        | ETH | 8dp | |
        | LTC | 8dp | |
        | XRP | 6dp | |
        | AAVE | 8dp | |
        | CRV | 8dp | |
        | LINK | 8dp | |
        | MANA | 8dp | |
        | MATIC | 8dp | |
        | SUSHI | 8dp | |
        | UNI | 8dp | |
        | USDC | 6dp | |
        | USDT | 6dp | |
        | SHIB | 2dp | Please ensure to use the non-multiplied asset format (e.g., SHIB, PEPE, BONK) when creating withdrawals, as Custody endpoints align with real-world asset representation |
        | PEPE | 2dp | Please ensure to use the non-multiplied asset format (e.g., SHIB, PEPE, BONK) when creating withdrawals, as Custody endpoints align with real-world asset representation |
        | BONK | Round to the nearest ten (e.g., 120 or 130, not 125). | Please ensure to use the non-multiplied asset format (e.g., SHIB, PEPE, BONK) when creating withdrawals, as Custody endpoints align with real-world asset representation |

        **Ratelimited:** `True` - see [custody limits](/rest/general/rate-limits)
      operationId: createCustodyWithdrawal
      parameters:
        - $ref: "#/components/parameters/BX-SIGNATURE"
      requestBody:
        description: withdrawal request
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustodyApiEcdsaWithdrawalRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustodyApiWithdrawalResponse"
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/assets:
    get:
      tags:
        - asset-data
      summary: Get Assets
      description: Get supported assets.
      operationId: getAssets
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 10
                items:
                  $ref: "#/components/schemas/Asset"
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security: []
  /v1/assets/{symbol}:
    get:
      tags:
        - asset-data
      summary: Get Asset by Symbol
      description: Get Asset by Symbol
      operationId: getAssetBySymbol
      parameters:
        - in: path
          name: symbol
          schema:
            type: string
          required: true
          example: BTC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security: []
  /v1/vol-grids:
    get:
      tags:
        - asset-data
      summary: Get Vol Grids
      description: Returns grids for **all** options-enabled underlyings.
      operationId: getVolGrids
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VolGridConfiguration"
        "500":
          description: Internal Server Error
      security: []
  /v1/assets/{symbol}/vol-grid:
    get:
      parameters:
        - in: path
          name: symbol
          schema:
            type: string
          required: true
          example: BTC
          description: The underlying asset symbol (e.g. `BTC`, `ETH`)
      tags:
        - asset-data
      summary: Get Vol Grid by Symbol
      description: Returns the current active BPM (Bullish Portfolio Margin) vol grid configuration for the specified underlying asset.
      operationId: getVolGridByAsset
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VolGridConfiguration"
        "400":
          description: Invalid asset symbol
        "404":
          description: Vol grid config not found for assetSymbol
        "500":
          description: Internal Server Error
      security: []
  /v1/derivatives-positions:
    get:
      tags:
        - derivatives
      summary: Get Derivatives Positions
      description: Get derivatives positions
      operationId: getDerivativesPositions
      parameters:
        - in: query
          name: tradingAccountId
          description: Id of the trading account. `tradingAccountId` is mandatory in the query for users with multiple trading accounts. For users with a single trading account, it can be automatically retrieved from the login.
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: false
        - in: query
          name: symbol
          example: BTC-USDC-PERP
          schema:
            $ref: "#/components/schemas/MarketSymbol"
        - in: query
          name: marketType
          description: Optional - Filter for results by expiry date
          example: DATED_FUTURE
          schema:
            $ref: "#/components/schemas/MarketTypeAsString"
        - in: query
          name: optionType
          description: Optional - Filter for results by option type
          example: CALL
          schema:
            $ref: "#/components/schemas/OptionTypeAsString"
        - in: query
          name: sort
          description: Optional - Sort results by Market Type or Option Type
          schema:
            $ref: "#/components/schemas/MarketTypeOrOptionTypeSortByAsString"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DerivativesPositionResponse"
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/history/derivatives-settlement:
    get:
      tags:
        - history
      summary: Get Historical Hourly Derivatives Settlement
      description: |
        Get historical derivatives settlement. 
        - [supports pagination](/rest/general/pagination)
        - filtering on `settlementDatetime` requires additional keywords, [see filtering support](/rest/general/filtering)
        - On a single query request you can retrieve data over a 7 day window, with the data available for the last 90 days. By default the results are returned and sorted in descending order if specific settlement datetime is not specified.
      operationId: getDerivativesSettlementHistory
      parameters:
        - in: query
          name: tradingAccountId
          description: Id of the trading account. `tradingAccountId` is mandatory in the query for users with multiple trading accounts. For users with a single trading account, it can be automatically retrieved from the login.
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: false
        - in: query
          name: symbol
          example: BTC-USDC-PERP
          schema:
            $ref: "#/components/schemas/DatedFutureMarketSymbol"
          required: false
        - in: query
          name: settlementDatetime[gte]
          description: start timestamp of window, ISO 8601 with millisecond as string
          schema:
            $ref: "#/components/schemas/DateTime"
          required: true
        - in: query
          name: settlementDatetime[lte]
          description: end timestamp of window, ISO 8601 with millisecond as string
          schema:
            $ref: "#/components/schemas/DateTime"
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 25
                items:
                  $ref: "#/components/schemas/DerivativesSettlementResponse"
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/history/transfer:
    get:
      tags:
        - history
      summary: Get Historical Account Transfer
      description: |
        Get historical transfers.
        - [supports pagination](/rest/general/pagination)
        - filtering on `createdAtDatetime` and `createdAtTimestamp` requires additional keywords, [see filtering support](/rest/general/filtering)
        - On a single query request you can retrieve data over a 7 day window, with the data available for the last 90 days
      operationId: getTransferHistory
      parameters:
        - in: query
          name: tradingAccountId
          description: Id of the trading account. `tradingAccountId` is mandatory in the query for users with multiple trading accounts. For users with a single trading account, it can be automatically retrieved from the login.
          schema:
            $ref: "#/components/schemas/TradingAccountId"
          required: false
        - in: query
          name: status
          description: Status of the transfer request. Defaults to `CLOSED`
          schema:
            type: string
            example: CLOSED
            default: CLOSED
        - in: query
          name: requestId
          description: Unique identifier of the transfer request
          schema:
            type: string
            example: "561287547935260672"
        - in: query
          name: assetSymbol
          description: Asset symbol of the transfer request
          schema:
            $ref: "#/components/schemas/AssetSymbol"
        - in: query
          name: createdAtDatetime[gte]
          description: start datetime of window, ISO 8601 with millisecond as string
          schema:
            $ref: "#/components/schemas/DateTime"
          required: true
        - in: query
          name: createdAtDatetime[lte]
          description: end datetime of window, ISO 8601 with millisecond as string
          schema:
            $ref: "#/components/schemas/DateTime"
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 25
                items:
                  $ref: "#/components/schemas/SubAccountTransferResponse"
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
        - jwtTokenAuth: []
  /v1/markets:
    parameters:
      - in: query
        name: marketType
        description: Market Types to filter markets against
        schema:
          $ref: "#/components/schemas/MarketTypeAsString"
        required: false
      - in: query
        name: optionType
        description: Option Type to filter markets against. If this is present, only Option Markets will be returned
        schema:
          $ref: "#/components/schemas/OptionTypeAsString"
        required: false
    get:
      tags:
        - market-data
      summary: Get Markets
      description: Get Markets.
      operationId: getMarkets
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 10
                items:
                  $ref: "#/components/schemas/Market"
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security: []
  /v1/markets/{symbol}:
    parameters:
      - in: path
        name: symbol
        schema:
          $ref: "#/components/schemas/MarketSymbol"
        required: true
    get:
      tags:
        - market-data
      summary: Get Market by Symbol
      description: Get Market by Symbol.
      operationId: getMarketBySymbol
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Market"
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security: []
  /v1/history/markets:
    get:
      tags:
        - market-data
      summary: Get Historical Markets
      description: |
        Get a list of historical markets, including expired markets.
        This endpoint returns simplified market information and supports filtering by market type and expiry status.
      operationId: getHistoricalMarkets
      parameters:
        - in: query
          name: marketType
          description: Filter by market type (can be specified multiple times for multiple types)
          schema:
            type: array
            items:
              type: string
              enum:
                - SPOT
                - PERPETUAL
                - DATED_FUTURE
                - OPTION
          style: form
          explode: true
          required: false
        - in: query
          name: status
          description: Filter by expiry status (can be specified multiple times for multiple statuses)
          schema:
            type: array
            items:
              type: string
              enum:
                - ACTIVE
                - EXPIRED
                - ALL
          style: form
          explode: true
          required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                      description: Market symbol
                      example: "BTC-USD-20241231-100000-C"
                    expiryDatetime:
                      type: string
                      description: Expiry datetime in ISO 8601 format (only for DATED_FUTURE and OPTION markets)
                      example: "2025-12-31T08:00:00.000Z"
                    status:
                      type: string
                      description: Market expiry status
                      example: "EXPIRED"
                      enum:
                        - ACTIVE
                        - EXPIRING
                        - EXPIRED
              example:
                - symbol: "BTC-USD"
                  status: "ACTIVE"
                - symbol: "BTC-USD-20241231-100000-C"
                  expiryDatetime: "2024-12-31T08:00:00.000Z"
                  status: "EXPIRED"
                - symbol: "ETH-USD-20241231"
                  expiryDatetime: "2024-12-31T08:00:00.000Z"
                  status: "EXPIRED"
        "400":
          description: Bad Request - Invalid query parameters
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security: []
  /v1/history/markets/{symbol}:
    parameters:
      - in: path
        name: symbol
        schema:
          $ref: "#/components/schemas/OptionAndDatedFuturesMarketSymbol"
        required: true
    get:
      tags:
        - market-data
      summary: Get Historical Market by Symbol
      description: Get Historical Market by Symbol. This endpoint will return specified market even if it is expired. Only applicable for this is applicable only for `DATED_FUTURE` and `OPTION` markets.
      operationId: getHistoricalMarketBySymbol
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Market"
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security: []
  /v1/markets/{symbol}/orderbook/hybrid:
    get:
      parameters:
        - in: path
          name: symbol
          schema:
            $ref: "#/components/schemas/MarketSymbol"
          required: true
          description: symbol to get
      tags:
        - market-data
      summary: Get Market Order Book
      description: |
        Get Order Book by Market Symbol

        **Ratelimited:** `False`
      operationId: getMarketOrderBook
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderBook"
        "404":
          description: Resource Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security: []
  /v1/markets/{symbol}/trades:
    get:
      parameters:
        - in: path
          name: symbol
          schema:
            $ref: "#/components/schemas/MarketSymbol"
          required: true
          description: symbol to get
      tags:
        - market-data
      summary: Get Latest Market Trades
      description: |
        Get Market Trades by Market Symbol.
        - return 100 most recent trades
        - lookup from local cache

        **Ratelimited:** `False`
      operationId: getLatestMarketTrades
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 100
                items:
                  $ref: "#/components/schemas/ObfuscatedTrade"
        "404":
          description: Resource Not Found
        "429":
          description: Too Many Requests
        "500":
[...]
