openapi: 3.2.0
info:
  description: '# Overview


    Welcome to the _Bullish Deprecated Features & APIs_ documentation!'
  version: 1.0.0
  title: Bullish Features Deprecated API
servers:
- url: https://api.exchange.bullish.com/trading-api
  description: PRODUCTION
- url: https://registered.api.exchange.bullish.com/trading-api
  description: PRODUCTION
- url: https://prod.access.bullish.com/trading-api
  description: PRODUCTION (Direct Connect)
- url: https://api.bugbounty.bullish.com/trading-api
  description: SECURITY SANDBOX
- url: https://api.simnext.bullish-test.com/trading-api
  description: API SANDBOX
- url: https://registered.api.simnext.bullish-test.com/trading-api
  description: API SANDBOX
- url: https://simnext.access.bullish.com/trading-api
  description: API SANDBOX (Direct Connect)
tags:
- name: Deprecated
  description: List of APIs that has been marked to be deprecated. You can still use these APIs till their end of service date.
paths:
  /v1/accounts/spot:
    get:
      tags:
      - Deprecated
      deprecated: true
      summary: Get Spot Accounts
      description: '`Deprecated`: Please look at Asset Account instead.


        Gets the spot accounts, requires bearer token in authorization header


        **Ratelimited:** `True`'
      operationId: user-get-spot-accounts
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - in: query
        name: tradingAccountId
        description: Id of the trading account
        schema:
          $ref: '#/components/schemas/TradingAccountId'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 10
                items:
                  $ref: '#/components/schemas/SpotAccount'
        '401':
          description: Not Authenticated
        '403':
          description: Access Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      security:
      - jwtTokenAuth: []
  /v1/accounts/spot/{symbol}:
    get:
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - in: path
        name: symbol
        schema:
          $ref: '#/components/schemas/AssetSymbol'
        required: true
      - in: query
        name: tradingAccountId
        description: Id of the trading account
        schema:
          $ref: '#/components/schemas/TradingAccountId'
        required: true
      tags:
      - Deprecated
      summary: Get Spot Account by Symbol
      description: '`Deprecated`: Please look at Asset Account by Symbol instead.


        Gets the spot account by symbol, requires bearer token in authorization header


        **Ratelimited:** `True`'
      operationId: user-get-spot-account-by-symbol
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotAccount'
        '401':
          description: Not Authenticated
        '403':
          description: Access Forbidden
        '404':
          description: Resource Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      security:
      - jwtTokenAuth: []
  /v1/command:
    post:
      deprecated: true
      tags:
      - Deprecated
      summary: Transfer Asset
      description: Send command to transfer asset between two trading accounts.
      operationId: submitAssetTransferCommand
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/BX-SIGNATURE'
      - $ref: '#/components/parameters/BX-TIMESTAMP'
      - $ref: '#/components/parameters/BX-NONCE'
      - in: query
        name: commandType
        description: The command type, must be 'V1TransferAsset'
        required: true
        schema:
          type: string
          enum:
          - V1TransferAsset
          example: V1TransferAsset
      responses:
        '200':
          description: Status OK. This means the request was successfully acknowledged. It does not necessarily mean the command was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingAccountTransferResponse'
        '400':
          description: 'Bad Request


            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadOrderEntryResponse'
        '401':
          description: Not Authenticated
        '403':
          description: Access Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      requestBody:
        description: Command for action
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradingAccountTransferRequest'
      security:
      - jwtTokenAuth: []
components:
  schemas:
    SpotAccountID:
      type: string
      example: '1'
    AssetSymbol:
      type: string
      description: asset symbol as denoted in the world
      example: BTC
    TradingAccountTransferResponse:
      type: object
      required:
      - message
      - requestId
      properties:
        message:
          description: message
          type: string
        requestId:
          description: unique request ID
          allOf:
          - $ref: '#/components/schemas/RequestID'
      example:
        message: Command acknowledged - TransferAsset
        requestId: '633909659774222336'
    SpotAccount:
      type: object
      required:
      - accountId
      - type
      - symbol
      - total
      - free
      - used
      - updatedAtDatetime
      - updatedAtTimestamp
      properties:
        accountId:
          description: unique spot account ID
          allOf:
          - $ref: '#/components/schemas/SpotAccountID'
        type:
          description: Spot Account
          allOf:
          - type: string
            description: Type of Account
            example: spot
        symbol:
          description: asset symbol
          allOf:
          - $ref: '#/components/schemas/AssetSymbol'
        total:
          description: total is `free` + `used` assets within the account, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        free:
          description: refers to the assets that are available to use on the account excluding borrowed assets, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        used:
          description: refers to the assets that are locked in orders ,loans and AMM instructions, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        updatedAtDatetime:
          description: denotes the time the AMM instruction was updated by the exchange, ISO 8601 with millisecond as string
          allOf:
          - $ref: '#/components/schemas/DateTime'
        updatedAtTimestamp:
          description: denotes the time the AMM instruction was updated by the exchange
          allOf:
          - $ref: '#/components/schemas/TimeStampAsString'
    Authorizer:
      type: string
      format: string
      example: 03E02367E8C900000500000000000000
      description: JWT authorizer you obtain along with the [JWT token](/rest/authentication#generate-a-jwt-token)
    TradingAccountTransferRequest:
      type: object
      required:
      - timestamp
      - nonce
      - authorizer
      - command
      properties:
        timestamp:
          allOf:
          - $ref: '#/components/schemas/TimeStampAsString'
        nonce:
          allOf:
          - $ref: '#/components/schemas/NonceAsString'
        authorizer:
          description: JWT authorizer you obtain along with the [JWT token](/rest/authentication#generate-a-jwt-token)
          allOf:
          - $ref: '#/components/schemas/Authorizer'
        command:
          description: the command to be executed which is sent in the request payload
          allOf:
          - $ref: '#/components/schemas/TransferAssetCommand'
    DateTime:
      type: string
      format: date-time
      example: '2021-05-20T01:01:01.000Z'
      description: ISO 8601 with millisecond as string
    TimeStampAsString:
      type: string
      format: string
      example: '1621490985000'
      description: unsigned 64 bit integer value which is the number of milliseconds since EPOCH expressed as string
    TradingAccountId:
      description: unique trading account ID
      type: string
      example: '111000000000001'
    NonceAsString:
      type: string
      format: string
      example: '123456789'
      description: the nonce is a client side incremented unsigned 64 bit integer expressed as string
    RequestID:
      type: string
      example: '197735387747975680'
    AssetValue:
      description: see [asset value](/rest/general/price-quantity-precision) format
      type: string
      example: '1.00000000'
    BadOrderEntryResponse:
      type: object
      required:
      - message
      - errorCode
      - errorCodeName
      properties:
        message:
          description: message
          type: string
          example: Missing signature header
        errorCode:
          description: unique error code
          type: integer
          example: 6029
        errorCodeName:
          description: unique error code name
          type: string
          example: MISSING_SIGNATURE_HEADER
    TransferAssetCommand:
      type: object
      required:
      - commandType
      - assetSymbol
      - quantity
      - fromTradingAccountId
      - toTradingAccountId
      properties:
        commandType:
          description: The command type, e.g. 'V1TransferAsset'
          type: string
          example: V1TransferAsset
        assetSymbol:
          description: Symbol of the asset. i.e. currency
          allOf:
          - $ref: '#/components/schemas/AssetSymbol'
        quantity:
          description: Quantity of the asset.
          type: string
          example: '100'
        fromTradingAccountId:
          description: Source of the asset transfer
          allOf:
          - $ref: '#/components/schemas/TradingAccountId'
        toTradingAccountId:
          description: Destination of the asset transfer
          allOf:
          - $ref: '#/components/schemas/TradingAccountId'
  parameters:
    BX-TIMESTAMP:
      in: header
      name: BX-TIMESTAMP
      description: timestamp is the number of milliseconds since EPOCH
      required: true
      schema:
        type: string
    Authorization:
      in: header
      name: Authorization
      description: authorization header, its value must be 'Bearer ' + [token](/rest/authentication#generate-a-jwt-token)
      required: true
      schema:
        type: string
    BX-SIGNATURE:
      in: header
      name: BX-SIGNATURE
      description: signature obtained using the [signing format](#overview--how-to-ensure-the-order-of-create-order-or-cancel-order-requests)
      required: true
      schema:
        type: string
    BX-NONCE:
      in: header
      name: BX-NONCE
      description: nonce is a client side incremented unsigned 64 bit integer
      required: true
      schema:
        type: string
  securitySchemes:
    jwtTokenAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
