openapi: 3.2.0
info:
  description: '# Overview


    Welcome to the _Bullish Deprecated Features & APIs_ documentation!'
  version: 1.0.0
  title: Bullish Deprecated Features deprecated - q3 2024 API
servers:
- url: https://api.exchange.bullish.com/trading-api
  description: PRODUCTION
- url: https://registered.api.exchange.bullish.com/trading-api
  description: PRODUCTION
- url: https://prod.access.bullish.com/trading-api
  description: PRODUCTION (Direct Connect)
- url: https://api.bugbounty.bullish.com/trading-api
  description: SECURITY SANDBOX
- url: https://api.simnext.bullish-test.com/trading-api
  description: API SANDBOX
- url: https://registered.api.simnext.bullish-test.com/trading-api
  description: API SANDBOX
- url: https://simnext.access.bullish.com/trading-api
  description: API SANDBOX (Direct Connect)
tags:
- name: deprecated - q3 2024
  description: List of deprecated APIs that will be removed towards the end of Q3 2024.
paths:
  /v1/orders:
    get:
      tags:
      - deprecated - q3 2024
      deprecated: true
      summary: Get Orders
      description: 'Gets the orders list based on specified filters.

        - requires bearer token in authorization header

        - supports pagination

        - supports filtering on `symbol`, `handle`, `side`, `status`, `createdAtDatetime`, `createdAtTimestamp`


        **Ratelimited:** `True`'
      operationId: trade-get-orders
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - in: query
        name: symbol
        schema:
          $ref: '#/components/schemas/MarketSymbol'
        required: false
      - in: query
        name: handle
        description: Unique numeric (i64) identifier generated on the client side expressed as a string value
        schema:
          $ref: '#/components/schemas/OrderHandle'
        required: false
      - in: query
        name: side
        description: order side
        schema:
          $ref: '#/components/schemas/OrderSide'
        required: false
      - in: query
        name: status
        description: order status
        schema:
          $ref: '#/components/schemas/OrderStatus'
        required: false
      - in: query
        name: tradingAccountId
        description: Id of the trading account
        schema:
          $ref: '#/components/schemas/TradingAccountId'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 10
                items:
                  $ref: '#/components/schemas/Order'
        '401':
          description: Not Authenticated
        '403':
          description: Access Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      security:
      - jwtTokenAuth: []
    post:
      tags:
      - deprecated - q3 2024
      deprecated: true
      summary: Create Order
      description: 'Creates an order, requires bearer token in authorization header.


        Requires strict field ordering in the request body.


        Command Example


        **Ratelimited:** `True`'
      operationId: trade-create-order
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/BX-SIGNATURE'
      - $ref: '#/components/parameters/BX-TIMESTAMP'
      - $ref: '#/components/parameters/BX-NONCE'
      - $ref: '#/components/parameters/BX-NONCE-WINDOW-ENABLED'
      - in: query
        name: test
        description: to validate integration with the `POST /orders` API pass the query parameter `test=true` e.g. `/orders?test=true`. The request will be validated but not executed.
        schema:
          $ref: '#/components/schemas/Boolean'
        required: false
      responses:
        '200':
          description: Status OK. This means an create order command was successfully acknowledged. It does not necessarily mean the order was created. To check the current status of the order, query [Get Order by ID](/rest/deprecated/trade-get-order-by-id) using the `orderId` received in the response payload. Also consult the section [How To Ensure The Order Of *Create Order* or *Cancel Order* Requests](/rest/order-processing-create-cancel-request-mechanism).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
        '400':
          description: 'Bad Request


            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadOrderEntryResponse'
        '401':
          description: Not Authenticated
        '403':
          description: Access Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      requestBody:
        description: new order request body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      security:
      - jwtTokenAuth: []
    delete:
      tags:
      - deprecated - q3 2024
      deprecated: true
      summary: Cancel Order
      description: 'Cancels an order, requires bearer token in authorization header.


        Requires strict field ordering in the JSON request payload.


        Please use either the `handle` or `orderId` field in the query parameters.


        Command example


        **Ratelimited:** `True`'
      operationId: trade-cancel-order
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/BX-SIGNATURE'
      - $ref: '#/components/parameters/BX-TIMESTAMP'
      - $ref: '#/components/parameters/BX-NONCE'
      - $ref: '#/components/parameters/BX-NONCE-WINDOW-ENABLED'
      - in: query
        name: symbol
        schema:
          $ref: '#/components/schemas/MarketSymbol'
        required: true
      - in: query
        name: handle
        description: Unique numeric (i64) identifier generated on the client side expressed as a string value
        schema:
          $ref: '#/components/schemas/OrderHandle'
        required: false
      - in: query
        name: orderId
        description: unique order ID
        schema:
          $ref: '#/components/schemas/OrderID'
        required: false
      - in: query
        name: test
        description: to validate integration with the `DELETE /orders` API pass the query parameter `test=true` e.g. `/orders?test=true`. The request will be validated but not executed.
        schema:
          $ref: '#/components/schemas/Boolean'
        required: false
      - in: query
        name: tradingAccountId
        description: Id of the trading account
        schema:
          $ref: '#/components/schemas/TradingAccountId'
        required: true
      responses:
        '204':
          description: Status OK. This means an cancel order command was successfully acknowledged. It does not necessarily mean the order was cancelled. To check the current status of the order, query [Get Order by ID](/rest/deprecated/trade-get-order-by-id) using the `orderId`. Also consult the section [How To Ensure The Order Of *Create Order* or *Cancel Order* Requests](/rest/order-processing-create-cancel-request-mechanism).
        '401':
          description: Not Authenticated
        '403':
          description: Access Forbidden
        '404':
          description: Resource Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      security:
      - jwtTokenAuth: []
  /v1/orders/{orderId}:
    parameters:
    - in: path
      name: orderId
      schema:
        type: number
      required: true
      description: order ID
    get:
      tags:
      - deprecated - q3 2024
      deprecated: true
      summary: Get Order by ID
      description: 'Gets an order by ID, requires bearer token in authorization header


        **Ratelimited:** `True`'
      operationId: trade-get-order-by-id
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - in: query
        name: tradingAccountId
        description: Id of the trading account
        schema:
          $ref: '#/components/schemas/TradingAccountId'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          description: Not Authenticated
        '403':
          description: Access Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      security:
      - jwtTokenAuth: []
  /v1/command?commandType=V1CancelAllOrders:
    post:
      tags:
      - deprecated - q3 2024
      deprecated: true
      summary: Cancel All Open Limit Orders
      description: 'Cancels all open limit orders


        Requires

        - strict field ordering in the JSON request payload.

        - bearer token in authorization header


        **Ratelimited:** `True`'
      operationId: trade-cancel-all-open-limit-orders
      parameters:
      - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: Status OK. This means a cancel all open limit orders command was successfully acknowledged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAllOrdersResponse'
        '400':
          description: 'Bad Request


            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadOrderEntryResponse'
        '401':
          description: Not Authenticated
        '403':
          description: Access Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      requestBody:
        description: Cancel All Open Limit Orders request body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllOrdersRequest'
      security:
      - jwtTokenAuth: []
  /v1/command?commandType=V1CancelAllOrdersByMarket:
    post:
      tags:
      - deprecated - q3 2024
      deprecated: true
      summary: Cancel All Open Limit Orders by Market
      description: 'Cancels all open orders by market


        Requires

        - strict field ordering in the JSON request payload.

        - bearer token in authorization header


        **Ratelimited:** `True`'
      operationId: trade-cancel-all-open-limit-orders-by-market
      parameters:
      - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: Status OK. This means a cancel all Open Limit orders by market command was successfully acknowledged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAllOrdersByMarketResponse'
        '400':
          description: 'Bad Request


            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadOrderEntryResponse'
        '401':
          description: Not Authenticated
        '403':
          description: Access Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      requestBody:
        description: Cancel All Open Limit Orders by market request body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllOrdersByMarketRequest'
      security:
      - jwtTokenAuth: []
  /v1/command?commandType=V1DelayedCancelAllOrders:
    post:
      tags:
      - deprecated - q3 2024
      deprecated: true
      summary: Cancel All Open Limit Orders after Delay
      description: 'Cancel All Open Limit Orders after Delay

        - requires bearer token in authorization header

        - provides a “Dead Man''s Switch” mechanism to protect customers from network malfunction.

        The customer can send a request with a delay (in seconds), that will start a countdown timer

        which cancels all open limit orders for a specific trading account when the timer expires.

        - can be disabled by another command type: V1UnsetDelayedCancelAllOrders


        **Ratelimited:** `True`'
      operationId: trade-delayed-cancel-all-open-limit-orders
      parameters:
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        description: Cancel All Open Limit Orders after Delay request body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DelayedCancelAllOrdersRequest'
      responses:
        '200':
          description: Status OK. This means a cancel all open limit orders command was successfully acknowledged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelayedCancelAllOrdersResponse'
        '400':
          description: 'Bad Request


            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadOrderEntryResponse'
        '401':
          description: Not Authenticated
        '403':
          description: Access Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      security:
      - jwtTokenAuth: []
  /v1/command?commandType=V1UnsetDelayedCancelAllOrders:
    post:
      tags:
      - deprecated - q3 2024
      deprecated: true
      summary: Cancel All Open Limit Orders after Delay Disable
      description: 'Cancel All Open Limit Orders after Delay Disable

        - requires bearer token in authorization header

        - Disable the delay set on a trading account that initiates cancelling all open limit orders

        (i.e. disable the previous V1DelayedCancelAllOrders command)


        **Ratelimited:** `True`'
      operationId: trade-unset-delayed-cancel-all-open-limit-orders
      parameters:
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        description: Cancel All Open Limit Orders after Delay Disable request body
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnsetDelayedCancelAllOrdersRequest'
      responses:
        '200':
          description: Status OK. This means a cancel all open limit orders command was successfully acknowledged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsetDelayedCancelAllOrdersResponse'
        '400':
          description: 'Bad Request


            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadOrderEntryResponse'
        '401':
          description: Not Authenticated
        '403':
          description: Access Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      security:
      - jwtTokenAuth: []
  /v1/amm-instructions:
    get:
      tags:
      - deprecated - q3 2024
      deprecated: true
      summary: Get AMM Instructions
      description: 'Gets a list of AMM instructions based on applied filters.

        - requires bearer token in authorization header

        - supports pagination

        - supports filtering on `symbol` and `status`


        **Ratelimited:** `True`'
      operationId: trade-get-amm-instructions
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - in: query
        name: symbol
        schema:
          $ref: '#/components/schemas/MarketSymbol'
        required: false
      - in: query
        name: status
        description: order status
        schema:
          $ref: '#/components/schemas/AMMInstructionStatus'
        required: false
      - in: query
        name: tradingAccountId
        description: Id of the trading account
        schema:
          $ref: '#/components/schemas/TradingAccountId'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                minItems: 0
                maxItems: 10
                items:
                  $ref: '#/components/schemas/AMMInstruction'
        '401':
          description: Not Authenticated
        '403':
          description: Access Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      security:
      - jwtTokenAuth: []
    post:
      tags:
      - deprecated - q3 2024
      deprecated: true
      summary: Create AMM Instruction
      description: 'Creates an AMM instruction, requires bearer token

        in authorization header.


        Requires strict field ordering in the JSON request payload.


        Command Example


        **Ratelimited:** `True`'
      operationId: trade-create-amm-instruction
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/BX-SIGNATURE'
      - $ref: '#/components/parameters/BX-TIMESTAMP'
      - $ref: '#/components/parameters/BX-NONCE'
      - in: query
        name: test
        description: to validate integration with the `POST /amm-instructions` API pass the query parameter `test=true` e.g. `/amm-instructions?test=true`. The request will be validated but not executed.
        schema:
          $ref: '#/components/schemas/Boolean'
        required: false
      responses:
        '200':
          description: Status OK. This means a create AMM instruction command was successfully acknowledged. It does not necessarily mean the instruction was created. To check the current status, query [Get AMM Instruction by ID](/rest/api/get-amm-instruction-by-id-v-2) using the `liquidityId` received in the response payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAMMInstructionResponse'
        '400':
          description: 'Bad Request


            For example, sending a request with the `BX-SIGNATURE` header missing will result in the following response:

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadOrderEntryResponse'
        '401':
          description: Not Authenticated
        '403':
          description: Access Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      requestBody:
        description: new AMM instruction
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAMMInstructionRequest'
      security:
      - jwtTokenAuth: []
    delete:
      tags:
      - deprecated - q3 2024
      deprecated: true
      summary: Terminate AMM Instruction
      description: 'Terminates a specific AMM instruction, requires bearer token in authorization header.


        Requires strict field ordering in the JSON request payload.


        Command Example


        **Ratelimited:** `True`'
      operationId: trade-terminate-amm-instruction
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/BX-SIGNATURE'
      - $ref: '#/components/parameters/BX-TIMESTAMP'
      - $ref: '#/components/parameters/BX-NONCE'
      - in: query
        name: symbol
        schema:
          $ref: '#/components/schemas/MarketSymbol'
        required: true
      - in: query
        name: liquidityId
        description: unique AMM instruction ID
        schema:
          $ref: '#/components/schemas/AMMInstructionID'
        required: true
      - in: query
        name: tradingAccountId
        description: id of the trading account
        schema:
          $ref: '#/components/schemas/TradingAccountId'
        required: true
      - in: query
        name: test
        description: to validate integration with the `DELETE /amm-instructions` API pass the query parameter `test=true` e.g. `/amm-instructions?test=true`. The request will be validated but not executed.
        schema:
          $ref: '#/components/schemas/Boolean'
        required: false
      responses:
        '204':
          description: Status OK. This means an terminate AMM instruction command was successfully acknowledged. It does not necessarily mean the AMM instruction was terminated. To check the current status, query [Get AMM Instruction by ID](/rest/api/get-amm-instruction-by-id-v-2) using the `liquidityId` received in the response payload.
        '401':
          description: Not Authenticated
        '403':
          description: Access Forbidden
        '404':
          description: Resource Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      security:
      - jwtTokenAuth: []
  /v1/amm-instructions/{liquidityId}:
    parameters:
    - in: path
      name: liquidityId
      schema:
        type: number
      required: true
      description: unique AMM instruction ID
    - in: query
      name: tradingAccountId
      description: Id of the trading account
      schema:
        $ref: '#/components/schemas/TradingAccountId'
      required: true
    get:
      tags:
      - deprecated - q3 2024
      deprecated: true
      summary: Get AMM Instruction by ID
      description: 'Gets a specific AMM instruction based on the `liquidityId`,

        requires bearer token in authorization header


        **Ratelimited:** `True`'
      operationId: trade-get-amm-instruction-by-id
      parameters:
      - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AMMInstruction'
        '401':
          description: Not Authenticated
        '403':
          description: Access Forbidden
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
      security:
      - jwtTokenAuth: []
components:
  schemas:
    OrderTimeInForceAsString:
      type: string
      description: time in force can have the following string values `"GTC"`, `"FOK"`, `"IOC"`, see [details](/rest/general/order-type)
    Boolean:
      type: boolean
      format: true or false
    Authorizer:
      type: string
      format: string
      example: 03E02367E8C900000500000000000000
      description: JWT authorizer you obtain along with the [JWT token](/rest/authentication#generate-a-jwt-token)
    UnsetDelayedCancelAllOrdersResponse:
      type: object
      required:
      - message
      - requestId
      properties:
        message:
          description: message
          type: string
        requestId:
          description: unique request ID
          allOf:
          - $ref: '#/components/schemas/RequestID'
      example:
        message: Command acknowledged - UnsetDelayedCancelAllOrders
        requestId: '633914459442118656'
    TimeStampAsString:
      type: string
      format: string
      example: '1621490985000'
      description: unsigned 64 bit integer value which is the number of milliseconds since EPOCH expressed as string
    NonceAsString:
      type: string
      format: string
      example: '123456789'
      description: the nonce is a client side incremented unsigned 64 bit integer expressed as string
    OrderHandle:
      description: Unique numeric (i64) identifier generated on the client side expressed as a string value
      type: string
      example: '187'
    OrderSide:
      type: string
      example: BUY
      enum:
      - BUY
      - SELL
    CancelAllOrdersCommand:
      type: object
      required:
      - commandType
      - tradingAccountId
      properties:
        commandType:
          description: The command type, it must be 'V1CancelAllOrders'
          type: string
        tradingAccountId:
          description: unique trading account Id
          allOf:
          - $ref: '#/components/schemas/TradingAccountId'
      example:
        commandType: V1CancelAllOrders
        tradingAccountId: '111000000000001'
    MarketSymbol:
      type: string
      description: market symbol. E.g. `BTCUSDC` for SPOT and `BTC-USDC-PERP` for PERPETUAL market
      example: BTCUSDC
    UnsetDelayedCancelAllOrdersRequest:
      type: object
      required:
      - timestamp
      - nonce
      - authorizer
      - command
      properties:
        timestamp:
          allOf:
          - $ref: '#/components/schemas/TimeStampAsString'
        nonce:
          allOf:
          - $ref: '#/components/schemas/NonceAsString'
        authorizer:
          description: JWT authorizer you obtain along with the [JWT token](/rest/authentication#generate-a-jwt-token)
          allOf:
          - $ref: '#/components/schemas/Authorizer'
        command:
          description: the command to be executed which is sent in the request payload
          allOf:
          - $ref: '#/components/schemas/UnsetDelayedCancelAllOrdersCommand'
    CreateAMMInstructionResponse:
      type: object
      required:
      - message
      - requestId
      - liquidityId
      - test
      properties:
        message:
          description: message
          type: string
          example: Command acknowledged - AddLiquidity
        requestId:
          description: unique request ID
          allOf:
          - $ref: '#/components/schemas/RequestID'
        liquidityId:
          description: unique AMM instruction ID
          allOf:
          - $ref: '#/components/schemas/AMMInstructionID'
    RequestID:
      type: string
      example: '197735387747975680'
    CreateOrderResponse:
      type: object
      required:
      - message
      - requestId
      - orderId
      - test
      properties:
        message:
          description: message
          type: string
          example: Command acknowledged - CreateOrder
        requestId:
          description: unique request ID
          allOf:
          - $ref: '#/components/schemas/RequestID'
        orderId:
          description: unique order ID
          allOf:
          - $ref: '#/components/schemas/OrderID'
    BadOrderEntryResponse:
      type: object
      required:
      - message
      - errorCode
      - errorCodeName
      properties:
        message:
          description: message
          type: string
          example: Missing signature header
        errorCode:
          description: unique error code
          type: integer
          example: 6029
        errorCodeName:
          description: unique error code name
          type: string
          example: MISSING_SIGNATURE_HEADER
    CreateOrderRequest:
      type: object
      required:
      - timestamp
      - nonce
      - authorizer
      - command
      properties:
        timestamp:
          allOf:
          - $ref: '#/components/schemas/TimeStampAsString'
        nonce:
          allOf:
          - $ref: '#/components/schemas/NonceAsString'
        authorizer:
          description: JWT authorizer you obtain along with the [JWT token](/rest/authentication#generate-a-jwt-token)
          allOf:
          - $ref: '#/components/schemas/Authorizer'
        command:
          description: the command to be executed which is sent in the request payload
          allOf:
          - $ref: '#/components/schemas/CreateOrderCommand'
    OrderStatus:
      type: string
      example: OPEN
      enum:
      - OPEN
      - CLOSED
      - CANCELLED
      - REJECTED
    CancelAllOrdersByMarketCommand:
      type: object
      required:
      - commandType
      - symbol
      - tradingAccountId
      properties:
        commandType:
          description: The command type, it must be 'V1CancelAllOrdersByMarket'
          type: string
        symbol:
          description: market symbol
          allOf:
          - $ref: '#/components/schemas/MarketSymbol'
        tradingAccountId:
          description: unique trading account Id
          allOf:
          - $ref: '#/components/schemas/TradingAccountId'
      example:
        commandType: V1CancelAllOrdersByMarket
        symbol: BTCUSDC
        tradingAccountId: '111000000000001'
    AMMInstruction:
      type: object
      required:
      - apy
      - baseCurrentQuantity
      - baseFee
      - baseInvestQuantity
      - basePrice
      - baseWithdrawQuantity
      - createdAtDatetime
      - createdAtTimestamp
      - currentValue
      - dislocationEnabled
      - feeTierId
      - impermanentLoss
      - initialBasePrice
      - initialQuotePrice
      - initialValue
      - liquidityId
      - instructionId
      - lowerBound
      - price
      - quoteFee
      - quoteInvestQuantity
      - quotePrice
      - quoteWithdrawQuantity
      - requestId
      - staticSpreadFee
      - status
      - statusReason
      - statusReasonCode
      - symbol
      - updatedAtDatetime
      - updatedAtTimestamp
      - upperBound
      - yieldEarn
      properties:
        liquidityId:
          description: unique AMM instruction ID
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/AMMInstructionID'
        instructionId:
          description: unique AMM instruction ID
          allOf:
          - $ref: '#/components/schemas/AMMInstructionID'
        symbol:
          description: market symbol
          allOf:
          - $ref: '#/components/schemas/MarketSymbol'
        baseFee:
          description: base fee, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        quoteFee:
          description: quote fee, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        status:
          description: order status
          allOf:
          - $ref: '#/components/schemas/OrderStatusAsString'
          example: OPEN
        statusReason:
          description: status reason, describes why the order is in a specific state
          type: string
          example: Ok
        statusReasonCode:
          description: status reason code, see [details](/rest/general/error-rejection-codes)
          type: integer
          example: 1001
        createdAtDatetime:
          description: denotes the time the order was ACK'd by the exchange, ISO 8601 with millisecond as string
          allOf:
          - $ref: '#/components/schemas/DateTime'
        createdAtTimestamp:
          description: denotes the time the order was ACK'd by the exchange
          allOf:
          - $ref: '#/components/schemas/TimeStampAsString'
        24HrApy:
          type: string
          description: APY of the last 24 Hours, only for AMM instructions with `OPEN` status
          example: '2.3319'
        24HrYieldEarn:
          type: string
          description: amount of money earned in USD from the last 24 Hours, only for AMM instructions with `OPEN` status
          example: '0.00'
        apy:
          type: string
          description: yield generated from the time AMM instruction was created, in annualised percentage
          example: '0.0000'
        baseCurrentQuantity:
          type: string
          description: amount of base asset this AMM instruction currently holds, only for AMM instruction with `OPEN` status
          example: '0.00000000'
        baseInvestQuantity:
          type: string
          description: initial base investment
          example: '0.00000008'
        basePrice:
          type: string
          description: current price of base asset
          example: '345.6700'
        baseWithdrawQuantity:
          type: string
          description: amount of base asset returned when AMM instruction is terminated
          example: '0.00000010'
        currentValue:
          type: string
          description: value of assets (base and quote) in USD amount that this AMM instruction currently holds
          example: '0.0000'
        dislocationEnabled:
          description: dislocation enabled/disabled
          type: boolean
          example: false
        feeTierId:
          allOf:
          - $ref: '#/components/schemas/FeeTierId'
        finalValue:
          type: string
          description: value of assets (base and quote) in USD amount when AMM instruction was terminated, only for AMM instruction with `CLOSED` status
          example: '0.0001'
        impermanentLoss:
          type: string
          description: impermanent loss
          example: '0.0000'
        initialBasePrice:
          type: string
          description: price of base asset when AMM instruction was created
          example: '100.0000'
        initialQuotePrice:
          type: string
          description: price of quote asset when AMM instruction was created
          example: '0.0100'
        initialValue:
          type: string
          description: value of assets (base and quote) in USD amount when AMM instruction was created
          example: '0.0000'
        lowerBound:
          type: string
          description: lower bound of price range, in quote currency
          example: '0.0013'
        price:
          type: string
          description: current price of AMM, see [Get Tick By Symbol](/rest/api/get-market-tick)
          example: '456.7800'
        quoteCurrentQuantity:
          type: string
          description: amount of quote asset this AMM instruction currently holds, only for AMM instruction with `OPEN` status
          example: '0.0000'
        quoteInvestQuantity:
          type: string
          description: initial quote investment
          example: '0.0009'
        quotePrice:
          type: string
          description: current price of quote asset
          example: '1.0000'
        quoteWithdrawQuantity:
          type: string
          description: amount of quote asset returned when AMM instruction is terminated
          example: '0.0011'
        lastDistributedPrice:
          type:
          - string
          - 'null'
          description: (Perpetual market only) The price used at the time of settlement for AMM Instructions that can be used to determine mtmPnl and the actual Pnl
          example: null
        requestId:
          description: unique request ID
          allOf:
          - $ref: '#/components/schemas/RequestID'
        staticSpreadFee:
          type: string
          description: static spread fee, see [Get Market By Symbol](/rest/api/get-market-by-symbol)
          example: '0.00200000'
        updatedAtDatetime:
          description: denotes the time the AMM instruction was updated by the exchange, ISO 8601 with millisecond as string
          allOf:
          - $ref: '#/components/schemas/DateTime'
        updatedAtTimestamp:
          description: denotes the time the AMM instruction was updated by the exchange
          allOf:
          - $ref: '#/components/schemas/TimeStampAsString'
        upperBound:
          type: string
          description: upper bound of price range, in quote currency
          example: '14000.0000'
        yieldEarn:
          type: string
          description: amount of money earned in USD
          example: '0.00'
    AMMInstructionStatus:
      type: string
      example: OPEN
      enum:
      - OPEN
      - CLOSED
    CancelAllOrdersRequest:
      type: object
      required:
      - timestamp
      - nonce
      - authorizer
      - command
      properties:
        timestamp:
          allOf:
          - $ref: '#/components/schemas/TimeStampAsString'
        nonce:
          allOf:
          - $ref: '#/components/schemas/NonceAsString'
        authorizer:
          description: JWT authorizer you obtain along with the [JWT token](/rest/authentication#generate-a-jwt-token)
          allOf:
          - $ref: '#/components/schemas/Authorizer'
        command:
          description: the command to be executed which is sent in the request payload
          allOf:
          - $ref: '#/components/schemas/CancelAllOrdersCommand'
    CreateOrderCommand:
      type: object
      required:
      - commandType
      - handle
      - symbol
      - type
      - side
      - price
      - stopPrice
      - quantity
      - allowMargin
      - timeInForce
      - tradingAccountId
      properties:
        commandType:
          description: The command type, it must be 'V2CreateOrder'
          type: string
          example: V2CreateOrder
        handle:
          allOf:
          - $ref: '#/components/schemas/OrderHandle'
        symbol:
          allOf:
          - $ref: '#/components/schemas/MarketSymbol'
        type:
          allOf:
          - $ref: '#/components/schemas/OrderTypeAsString'
          example: LMT
        side:
          allOf:
          - $ref: '#/components/schemas/OrderSideAsString'
          example: BUY
        price:
          description: price, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        stopPrice:
          description: stop price, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        quantity:
          description: quantity, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        timeInForce:
          allOf:
          - $ref: '#/components/schemas/OrderTimeInForceAsString'
          example: GTC
        allowMargin:
          description: allows to borrow on the order
          type: boolean
          example: false
        tradingAccountId:
          allOf:
          - $ref: '#/components/schemas/TradingAccountId'
    CancelId:
      description: Unique id for this cancel request which is an unsigned 64 bit integer expressed as string
      type: string
      example: '123456789'
    OrderTypeAsString:
      type: string
      description: order type can have the following string values `"LMT"`, `"MKT"`, `"STOP_LIMIT"`, `"POST_ONLY"`
      example: LMT
    DelayBySeconds:
      description: Delay the cancel-all-orders request by (seconds) as a timeout mechanism
      type: string
      enum:
      - '5'
      - '10'
      - '15'
      - '20'
      - '25'
      - '30'
      - '40'
      - '50'
      - '60'
      example: '5'
    FeeTierId:
      type: string
      description: unique fee tier ID, see [Get Market By Symbol](/rest/api/get-market-by-symbol)
      example: '1'
    TradingAccountId:
      description: unique trading account ID
      type: string
      example: '111000000000001'
    OrderID:
      type: string
      example: '297735387747975680'
    Order:
      type: object
      required:
      - orderId
      - handle
      - clientOrderId
      - symbol
      - price
      - stopPrice
      - averageFillPrice
      - margin
      - allowBorrow
      - quantity
      - quantityFilled
      - quoteAmount
      - baseFee
      - quoteFee
      - borrowedQuantity
      - borrowedBaseQuantity
      - borrowedQuoteQuantity
      - isLiquidation
      - side
      - type
      - timeInForce
      - status
      - statusReason
      - statusReasonCode
      - createdAtTimestamp
      - createdAtDatetime
      properties:
        handle:
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/OrderHandle'
        clientOrderId:
          allOf:
          - $ref: '#/components/schemas/OrderHandle'
        orderId:
          description: unique order ID
          allOf:
          - $ref: '#/components/schemas/OrderID'
        symbol:
          description: market symbol
          allOf:
          - $ref: '#/components/schemas/MarketSymbol'
        price:
          description: price, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        averageFillPrice:
          description: average fill price, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        stopPrice:
          description: stop price, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        margin:
          description: indicates if the order was allowed to borrow (does not indicate that borrowing occurred)
          type: boolean
          deprecated: true
          example: false
        allowBorrow:
          description: indicates if the order was allowed to borrow (does not indicate that borrowing occurred)
          type: boolean
          example: false
        quantity:
          description: quantity, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        quantityFilled:
          description: quantity filled, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        quoteAmount:
          description: quote quantity deducted from asset account, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        baseFee:
          description: base fee, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        quoteFee:
          description: quote fee, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        borrowedQuantity:
          deprecated: true
          description: quantity borrowed, see [asset value](/rest/general/price-quantity-precision) format - BUY order borrows quote, SELL order borrows base
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        borrowedBaseQuantity:
          description: quantity borrowed, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        borrowedQuoteQuantity:
          description: quantity borrowed, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        isLiquidation:
          description: indicates if the order was executed as a liquidation order
          type: boolean
          example: false
        side:
          description: order side
          allOf:
          - $ref: '#/components/schemas/OrderSideAsString'
          example: BUY
        type:
          description: order type
          allOf:
          - $ref: '#/components/schemas/OrderTypeAsString'
          example: LMT
        timeInForce:
          description: time in force
          allOf:
          - $ref: '#/components/schemas/OrderTimeInForceAsString'
          example: GTC
        status:
          description: order status
          allOf:
          - $ref: '#/components/schemas/OrderStatusAsString'
          example: OPEN
        statusReason:
          description: status reason, describes why the order is in a specific state
          type: string
          example: User cancelled
        statusReasonCode:
          description: status reason code, see [details](/rest/general/error-rejection-codes)
          type: string
          example: '1002'
        createdAtDatetime:
          description: denotes the time the order was ACK'd by the exchange, ISO 8601 with millisecond as string
          allOf:
          - $ref: '#/components/schemas/DateTime'
        createdAtTimestamp:
          description: denotes the time the order was ACK'd by the exchange
          allOf:
          - $ref: '#/components/schemas/TimeStampAsString'
    AMMInstructionID:
      type: string
      example: '297735387747975680'
    OrderSideAsString:
      type: string
      description: order side can have the following string values `"BUY"`, `"SELL"`
      example: BUY
    CreateAMMInstructionRequest:
      type: object
      required:
      - timestamp
      - nonce
      - authorizer
      - command
      properties:
        timestamp:
          allOf:
          - $ref: '#/components/schemas/TimeStampAsString'
        nonce:
          allOf:
          - $ref: '#/components/schemas/NonceAsString'
        authorizer:
          description: JWT authorizer you obtain along with the [JWT token](/rest/authentication#generate-a-jwt-token)
          allOf:
          - $ref: '#/components/schemas/Authorizer'
        command:
          description: the command to be executed which is sent in the request payload
          allOf:
          - $ref: '#/components/schemas/CreateAMMInstructionCommand'
    OrderStatusAsString:
      type: string
      description: order status can have the following string values `"OPEN"`, `"CLOSED"`, `"CANCELLED"`, `"REJECTED"`
      example: OPEN
    CancelAllOrdersByMarketResponse:
      type: object
      required:
      - message
      - requestId
      properties:
        message:
          description: message
          type: string
        requestId:
          description: unique request ID
          allOf:
          - $ref: '#/components/schemas/RequestID'
      example:
        message: Command acknowledged - CancelAllOrdersByMarket
        requestId: '633914459442118656'
    CancelAllOrdersByMarketRequest:
      type: object
      required:
      - timestamp
      - nonce
      - authorizer
      - command
      properties:
        timestamp:
          allOf:
          - $ref: '#/components/schemas/TimeStampAsString'
        nonce:
          allOf:
          - $ref: '#/components/schemas/NonceAsString'
        authorizer:
          description: JWT authorizer you obtain along with the [JWT token](/rest/authentication#generate-a-jwt-token)
          allOf:
          - $ref: '#/components/schemas/Authorizer'
        command:
          description: the command to be executed which is sent in the request payload
          allOf:
          - $ref: '#/components/schemas/CancelAllOrdersByMarketCommand'
    UnsetDelayedCancelAllOrdersCommand:
      type: object
      required:
      - commandType
      - tradingAccountId
      properties:
        commandType:
          description: The command type, it must be 'V1UnsetDelayedCancelAllOrders'
          type: string
          example: V1UnsetDelayedCancelAllOrders
        tradingAccountId:
          allOf:
          - $ref: '#/components/schemas/TradingAccountId'
      example:
        commandType: V1UnsetDelayedCancelAllOrders
        tradingAccountId: '111000000000001'
    CancelAllOrdersResponse:
      type: object
      required:
      - message
      - requestId
      properties:
        message:
          description: message
          type: string
        requestId:
          description: unique request ID
          allOf:
          - $ref: '#/components/schemas/RequestID'
      example:
        message: Command acknowledged - CancelAllOrders
        requestId: '633900538459062272'
    DateTime:
      type: string
      format: date-time
      example: '2021-05-20T01:01:01.000Z'
      description: ISO 8601 with millisecond as string
    DelayedCancelAllOrdersRequest:
      type: object
      required:
      - timestamp
      - nonce
      - authorizer
      - command
      properties:
        timestamp:
          allOf:
          - $ref: '#/components/schemas/TimeStampAsString'
        nonce:
          allOf:
          - $ref: '#/components/schemas/NonceAsString'
        authorizer:
          description: JWT authorizer you obtain along with the [JWT token](/rest/authentication#generate-a-jwt-token)
          allOf:
          - $ref: '#/components/schemas/Authorizer'
        command:
          description: the command to be executed which is sent in the request payload
          allOf:
          - $ref: '#/components/schemas/DelayedCancelAllOrdersCommand'
    DelayedCancelAllOrdersCommand:
      type: object
      required:
      - commandType
      - delayBySeconds
      - tradingAccountId
      properties:
        commandType:
          description: The command type, it must be 'V1DelayedCancelAllOrders'
          type: string
          example: V1DelayedCancelAllOrders
        cancelId:
          allOf:
          - $ref: '#/components/schemas/CancelId'
        delayBySeconds:
          description: Delay of the cancel-all-order in seconds
          allOf:
          - $ref: '#/components/schemas/DelayBySeconds'
        tradingAccountId:
          allOf:
          - $ref: '#/components/schemas/TradingAccountId'
      example:
        commandType: V1DelayedCancelAllOrders
        delayBySeconds: '5'
        tradingAccountId: '111000000000001'
    DelayedCancelAllOrdersResponse:
      type: object
      required:
      - message
      - requestId
      properties:
        message:
          description: message
          type: string
        requestId:
          description: unique request ID
          allOf:
          - $ref: '#/components/schemas/RequestID'
      example:
        message: Command acknowledged - DelayedCancelAllOrders
        requestId: '633914459442118656'
    CreateAMMInstructionCommand:
      type: object
      required:
      - commandType
      - symbol
      - baseQuantity
      - quoteQuantity
      - upperBound
      - lowerBound
      - feeTierId
      - tradingAccountId
      properties:
        commandType:
          description: The command type, it must be 'V2AddLiquidity'
          type: string
          example: V2AddLiquidity
        symbol:
          allOf:
          - $ref: '#/components/schemas/MarketSymbol'
        baseQuantity:
          description: base quantity, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        quoteQuantity:
          description: quote quantity, see [asset value](/rest/general/price-quantity-precision) format
          allOf:
          - $ref: '#/components/schemas/AssetValue'
        upperBound:
          type: string
          description: upper bound of price range, in quote currency
          example: '14000.0000'
        lowerBound:
          type: string
          description: lower bound of price range, in quote currency
          example: '12000.0000'
        feeTierId:
          allOf:
          - $ref: '#/components/schemas/FeeTierId'
        tradingAccountId:
          allOf:
          - $ref: '#/components/schemas/TradingAccountId'
    AssetValue:
      description: see [asset value](/rest/general/price-quantity-precision) format
      type: string
      example: '1.00000000'
  parameters:
    BX-NONCE:
      in: header
      name: BX-NONCE
      description: nonce is a client side incremented unsigned 64 bit integer
      required: true
      schema:
        type: string
    BX-TIMESTAMP:
      in: header
      name: BX-TIMESTAMP
      description: timestamp is the number of milliseconds since EPOCH
      required: true
      schema:
        type: string
    BX-SIGNATURE:
      in: header
      name: BX-SIGNATURE
      description: signature obtained using the [signing format](#overview--how-to-ensure-the-order-of-create-order-or-cancel-order-requests)
      required: true
      schema:
        type: string
    Authorization:
      in: header
      name: Authorization
      description: authorization header, its value must be 'Bearer ' + [token](/rest/authentication#generate-a-jwt-token)
      required: true
      schema:
        type: string
    BX-NONCE-WINDOW-ENABLED:
      in: header
      name: BX-NONCE-WINDOW-ENABLED
      description: string representation of a boolean value, [enables out-of-order order requests to be processed](/rest/order-processing-create-cancel-request-mechanism)
      required: false
      schema:
        type: string
        enum:
        - 'false'
        - 'true'
        default: 'false'
  securitySchemes:
    jwtTokenAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
